[2018-08-29 05:15] simonhaenisch opened #8 "Implement Cloud Messaging Feature"
We are in the process of adding Firebase into an existing project in order to add a real-time chat (using Firestore), and we would like to switch to FCM for push notifications. This would simplify sending chat-related notifications directly through Firebase, but we still need to send other notifications from the .NET backend, and thus need the Cloud Messaging feature.

I couldn't find a roadmap fo

[2018-08-29 17:37] hiranya911 commented on #8
Thanks @simonhaenisch. Would you be willing to provide us a pull request implementing this feature? There are several reference implementations in other languages that we can base this on. I'd be happy to help with design and code reviews.

[2018-08-29 22:10] simonhaenisch commented on #8
I can give it a try but only for dotnet core because I'm on macOS and don't have a dotnet development environment set up yet/anymore... I also have only little experience with dotnet, but with code review I guess I could give it a try. But if anyone else wants to take this on, please do so 🤓

[2018-08-29 22:41] hiranya911 commented on #8
We also do most of the development using .NET Core on Mac and Linux (we are in the process of setting up some CI for Windows and .NET Framework).

[2018-08-30 19:41] rachelward9 opened #9 "Delete Users"
It would be rad if you could support deleting users! :)

[2018-08-30 20:03] hiranya911 commented on #9
We want to eventually add all of our [user management APIs](https://firebase.google.com/docs/auth/admin/manage-users) to this SDK. Would you be willing to provide us a pull request (perhaps starting with just get and delete operations)? We'd be happy to help with design and code reviews.

[2018-09-10 04:48] simonhaenisch commented on #8
@hiranya911 could you please elaborate how I can retrieve the ID token from the Firebase app instance? In the Node.js package `this.app.INTERNAL.getToken()` is used to set the `Authorization: Bearer ...` header for requests to the API.

I also tried looking into the Node.js and Python implementations for Firebase and saw that they build on top of Google Cloud Platform packages. So would the recomm

[2018-09-10 18:39] hiranya911 commented on #8
ID tokens are a client-side concept, and cannot be easily retrieved in the server-side. Assuming you meant access tokens, you can use [`GoogleCredential`](https://developers.google.com/api-client-library/dotnet/reference/1.9.3/classGoogle_1_1Apis_1_1Auth_1_1OAuth2_1_1GoogleCredential) class to get hold of them. We already have code that makes OAuth2 authorized HTTP requests in this manner:

https:

[2018-09-11 12:53] DenSmoke commented on #8
@simonhaenisch I am sending messages via FCM this way:
[code]
Also I have set environment variable
[code]
May be this example will help you

[2018-11-01 16:38] AndrewProteo opened #11 "Adding Users?"
Hi

it would be great if the rest of features listed for every other language on the https://firebase.google.com/docs/admin/setup, where available in the library, specifically, creating users?

Thank you

[2018-11-15 00:33] hiranya911 commented on #11
Eventually we'd like to support all user management capabilities in this SDK. You can help speed things up by providing pull requests.

[2019-01-06 20:23] dominikfoldi opened #15 "Control Access With Custom Claims"
We have an ASP.NET Core MVC backend with self hosted Identity Authentication with a custom provider. It is not fully tested and by self hosting it not so secure, so we would like to use an authentication service and Firebase Authentication is the most promising.

BUT the dotnet admin sdk does not have the "Control Access With Custom Claims" feature while role management in our app is core thing. S

[2019-01-07 19:45] hiranya911 commented on #15
Hi @dominikfoldi. We do want to add this API, but right now our resources are spread too thin to attempt it. I'm currently working on implementing FCM support in this SDK. I can start working on this API once that is done. But if you can add the following method to the existing `FirebaseAuth` class, I can get it through the required approval processes.

[code]

The implementation should be pretty

[2019-01-08 11:18] dominikfoldi commented on #15
Hi @hiranya911 , thank you for your fast response. This seems like an easy one. I am going do implement it today.

[2019-01-12 18:39] phsumi opened #18 "Is this too complicated"
I landed here because I needed to verify a Firebase ID token, but was surprised that this is so involved (multiple packages to download, creating a FirebaseApp is quite involved). After all, only the FB Project ID is needed to get the full profile through Firebase's own API. So a "cheap" validation could be done by just sending the token with a single HTTP POST to

https://www.googleapis.com/ident

[2019-01-12 20:20] phsumi commented on #18
Thanks for the quick reply! Since I'm not running the app on Google, `FirebaseApp.Create()` crashes on me, and I thought the requirement for additional configuration was a bit involved to get going, when all I needed was the project ID. (Private key generation, file generation and then making it available on the server)

If you think DEV / PROD environments with potentially different Firebase proj

[2019-01-13 02:52] hiranya911 commented on #18
You can get application default credentials to work anywhere by setting the `GOOGLE_APPLICATION_CREDENTIALS` environment variable. We are increasingly recommending this approach to developers (even when running locally), since it's less code to write, and also it reduces the chance of private keys accidentally getting exposed.

I still don't think it's too much work to set up either ADC or service

[2019-01-13 10:18] phsumi commented on #18
Creating the `AppOptions` with just the project ID was actually the first thing I tried :)

Not sure it's good developer UX though since this is not self-documenting. And developers might end up with `FirebaseApp`s that work for some things but not for others. So maybe my use case is indeed too exotic (especially if the SDK starts to provide some more features). I'm fine with my current solution a

[2019-01-13 10:18] #18 closed

[2019-01-24 22:04] #15 closed

[2019-01-30 15:16] TCGV opened #23 "Runtime compilation error (Razor View)"
Not sure if this is a real issue, or just a (package dependency) compatibility problem.

I encountered the following runtime compilation error (Razor View) after adding FirebaseAdmin to my ASP .NET MVC 5 project:
- https://stackoverflow.com/questions/22822406/build-error-you-must-add-a-reference-to-system-runtime/54405782#54405782

It was actually caused by the "System.Collections.Immutable" packa

[2019-01-30 18:41] hiranya911 commented on #23
@TCGV thanks for reporting this. It would be helpful if you can also add the exact error message you got to this issue.

As I understand from https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs1685 this happens due to conflicting usages of assemblies. I'll keep this open so others running into similar issues can also post their feedback.

[2019-01-30 18:51] TCGV commented on #23
Hi @hiranya911! Below is the detailed error message:

[2019-02-11 14:41] theberserker commented on #8
@simonhaenisch, @hiranya911 How far is this? I see lots of code implemented already. Is this tested and might be released soon?

[2019-02-11 15:04] simonhaenisch commented on #8
@theberserker I haven't done anything regarding this anymore because we ended up not using FCM for now (at least not directly)... but yeah, seems like hiranya911 started working on this recently and implemented the basic stuff in #12 already :tada: I'll close this feature request now as I expect this to be released soonish.

[2019-02-11 15:04] #8 closed

[2019-02-26 18:11] setu1421 opened #28 "Firebase ID token issued at future timestamp Error"
**Version: 1.2.0**

I am trying to verify the firebase token but sometimes, it is throwing **Firebase ID token issued at future timestamp** error.

[code]

Can you please see what's wrong here? Is there any consideration of clockSkew in this version of SDK?

[2019-03-06 21:51] #28 closed

[2019-03-19 12:45] nixj14 opened #30 "Proxy Support"
This API does not work when behind a corporate proxy.  If you were to expose the HttpClientFactory creation in FirebaseMessaging.cs as a parameter it would allow proxies to be supported.  If I get time, I'll create  a pull-request illustrating the idea.

[2019-03-19 18:07] hiranya911 commented on #30
I believe the right solution is to inject `HttpClientFactory` via `AppOptions` (similar to how the Java SDK works).

[2019-03-19 18:40] levimatheri commented on #9
@hiranya911 I just submitted a PR for this and get user. I'm new to the .NET Firebase SDK but have used Firebase in Flutter and want to contribute. Cheers! :+1:

[2019-03-20 16:18] nixj14 commented on #30
See https://github.com/firebase/firebase-admin-dotnet/pull/34

[2019-03-20 16:22] nixj14 commented on #30
Here's an implementation of HttpClientFactory that supports proxies (for anyone who finds this issue):

`using System.Net;
using System.Net.Http;
using Google.Apis.Http;

namespace FirebaseAdmin.Messaging
{
    /// <summary>
    /// Extension of Google's Default implementation of IHttpClientFactory, used to supply Proxy
    /// information.
    /// <see href="https://kzhendev.wordpress.com/2015/04

[2019-03-20 23:07] kentcb opened #35 "FCM: support for multiple recipients/batching"
I need to send notifications to multiple users. I was surprised to find that this SDK does not support multiple recipients/batching, even though the Java and Node SDKs do. See [here](https://firebase.google.com/docs/cloud-messaging/send-message#send_messages_to_multiple_devices), for example.

Why is this? And what is the recommendation for those, like me, who need to send notifications to many us

[2019-03-20 23:33] hiranya911 commented on #35
Batch support was just released last week. We always release new APIs in Node.js first (and sometimes in Node.js and Java), and then gradually port them to other languages. We don't have the bandwidth to maintain feature parity across all languages. So some SDKs will always lag behind Node.js. In case of the .NET SDK we are really relying on our open source community to develop and contribute new

[2019-03-21 01:41] kentcb commented on #35
@hiranya911 I'm a good way into a PR but have hit a snag. I could use some guidance.

I'd like to use [BatchRequest](https://developers.google.com/api-client-library/dotnet/reference/1.10.0/classGoogle_1_1Apis_1_1Requests_1_1BatchRequest) to implement the `FirebaseMessagingClient.SendAllAsync` method. However, unlike the Java version of `BatchRequest`, it requires an `IClientService` to construct

[2019-03-21 01:46] kentcb commented on #35
I guess I could write my own based on [the TypeScript one](https://github.com/firebase/firebase-admin-node/blob/master/src/messaging/batch-request.ts), but please let me know if you think that's the right approach.

[2019-03-21 02:18] hiranya911 commented on #35
It certainly would be nice if we can reuse that bit of code. Perhaps we can create a bare minimum implementation of `IClientService` by extending the `BaseClientService` class?

[2019-03-21 03:17] kentcb commented on #35
@hiranya911 Do you know of any docs for the batch HTTP endpoint? I can't find anything and it's making this process far more difficult.

[2019-03-21 03:30] kentcb commented on #35
I opened #36 as draft because I literally have no idea what I'm doing with respect to client service/client service request in particular.

[2019-03-21 03:55] hiranya911 commented on #35
Hi @kentcb. Documentation for this endpoint is still a work in progress. But I believe you're on the right track (I just skimmed through what you have coded so far, and also looked at how the `BatchRequest` class itself is implemented).

In your `FCMClientServiceRequest` class do the following:

* Set HttpMethod to POST.
* Set RestPath to `/v1/projects/{0}/messages:send` (the same path as the `Sen

[2019-03-21 08:17] kentcb commented on #35
Thanks. FYI, have made good progress and have a dry-run basically working (though largely untested). I'll spend some more time on this tomorrow.

[2019-03-22 00:01] kentcb commented on #35
@hiranya911 Any idea how I can integration test the new `SendMulticastAsync` API when it requires tokens (not topics)? If I pass in dummy tokens, I get "The registration token is not a valid FCM registration token". If I pass in a real token (but for a different app) then I get "The caller does not have permission".

I also can't find any reference to Firebase "test" tokens that can be used with d

[2019-03-25 19:53] albernhagen opened #39 "Error message on APS notifications"
Hello - When I'm sending APS notifications, I'm getting an error as follows:

[code]

I am sending a message that does have [aps] populated.  Is there something else I could be missing?

[code]

[2019-03-25 20:21] hiranya911 commented on #39
Can you provide a simplified example with literal values instead of variables?

I've tried the following, and that seems to work fine:

[code]

[2019-03-25 20:23] hiranya911 commented on #39
I did get the mentioned error for the following message:

[code]

But in this case the error is to be expected, since the Aps dictionary does not contain any meaningful data.

[2019-03-25 20:27] albernhagen commented on #39
Thanks for the quick response @hiranya911 !  I really appreciate it.

This is in a common service so the parameters have varied and I don't currently know the exact combination of parameters that has caused it.  What is considered meaningful data for the APS dictionary?  E.g. how do I know when I should or shouldn't include data in there based on ContentAvailable, Badge, and Sound?  Our default va

[2019-03-25 20:32] hiranya911 commented on #39
* ContentAvailable only makes sense when set to true (default is false). When false, the corresponding integer value it not included in the aps dictionary.
* Similarly, a null value for Badge is not sent to the backend (default is also null).
* Sound should also be not null or empty to be included in the aps dictionary (default is null).

Here's an example that shows how CustomData get serialized:

[2019-03-25 20:34] albernhagen commented on #39
Thanks for the info, that's super helpful.  The only other question I have is if `sound = "default"`, is that meaningful?

[2019-03-25 20:41] hiranya911 commented on #39
@albernhagen, yes that does make sense. I just tested that `Sound = "default"` works fine, when it is the only thing included in `Aps`.

[2019-03-25 20:42] albernhagen commented on #39
Great, thanks for all of the info @hiranya911 .  I'll close this out.

[2019-03-25 20:42] #39 closed

[2019-03-25 20:55] albernhagen commented on #39
Hey @hiranya911 - While I have your attention, I had one more question I'm hoping you can answer.  Is there a way using the .NET SDK to send messaging channel style commands instead of sending through APNS?

[2019-03-25 21:00] hiranya911 commented on #39
I don't think so. The SDK currently exposes all the messaging functionality supported by the FCM backend service. But feel free to file a feature request at https://support.google.com/firebase/contact/support?page=bug_or_feature so that the FCM team can take a look and see if this is something we can support.

[2019-03-28 20:29] hiranya911 commented on #35
This was released a short while ago. Thanks @kentcb for the contribution: https://firebase.google.com/support/release-notes/admin/dotnet

[2019-03-28 20:29] #35 closed

[2019-04-03 18:05] jstansbe opened #45 "Best way to determine specific errors?"
I'm trying to determine when there is an invalid token, an expired token, message rate exceeded error, etc. (https://firebase.google.com/docs/cloud-messaging/send-message#admin_sdk_error_reference).

When i send a single message/notification to a token like so:
`var response = await FirebaseMessaging.DefaultInstance.SendAsync(message);`

I get the following response (I'm getting this when i catch

[2019-04-03 18:53] hiranya911 commented on #45
Hi @jstansbe. You're not doing anything wrong. We don't expose any additional error details in the SDK at the moment. There's just a simple `FirebaseException` type that exposes a string, and this string may also include the full HTTP response text (which is what you're seeing).

There's a broader effort in progress to improve how errors are exposed in the SDK (it's being proposed across all of ou

[2019-04-10 02:04] swebgit commented on #45
Thanks for the info regarding this @hiranya911. I'm looking forward to being able to handle error codes from the Admin SDK more easily in .NET!

[2019-04-26 17:30] hiranya911 commented on #30
Fix in #34 is released now.

[2019-04-26 17:30] #30 closed

[2019-05-01 18:56] msmadja opened #48 "Mute push notification׳s sound is not documented"
I’m trying to use this library and I tried to find how to mute the sound of the push notification at all. I saw in the APS We have option to define sound as string but in the API I saw sound true/false. Is this missing in this lib. I didn’t find these in the documentations.

[2019-05-01 20:58] hiranya911 commented on #48
Sound is accepted as a string by APNs: https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/PayloadKeyReference.html#//apple_ref/doc/uid/TP40008194-CH17-SW5

And therefore `Aps.Sound` is a string property in our API: https://firebase.google.com/docs/reference/admin/dotnet/class/firebase-admin/messaging/aps#class_firebase_admin_1_1_messaging_

[2019-05-02 05:01] msmadja commented on #48
@hiranya911 Thank you for your response. I saw this documentation but there’s no reference to how to mute the sound of the push notification.

[2019-05-02 17:50] msmadja commented on #48
@hiranya911 is it possible to mute the sound of the push notification from the server side? How can I do it?

[2019-05-02 18:39] hiranya911 commented on #48
You need to figure out how to do that in APNs, and then pass the appropriate flag in `Aps`. Note that `Aps` has a `CustomData` field, which allows passing arbitrary key-value pairs.

[2019-05-02 18:39] #48 closed

[2019-05-02 20:42] msmadja commented on #48
@hiranya911 thank you very much for your help.

[2019-05-03 08:00] KalleOlaviNiemitalo commented on #45
Cool, my application can then get Retry-After from there, like the documentation of messaging/server-unavailable says it must do.

I think my application needs to search for the first newline, check that it is followed by "{", and parse JSON starting from there.  I'd also like it to check that the HTTP response had Content-Type: application/json but it seems the library does not yet surface that i

[2019-05-03 12:23] shaishavs opened #50 "Is FirebaseApp Instance Singleton?"
I would like to know whether an Instance of `FirebaseApp` returned by `FirebaseApp.Create()` method Singleton?
If not, what is the cost of creating high number of instances of it? I am currently developing for Push Notifications using FCM. And any sample code available where the SDK is used with Service account authentication and FCM?

Reference code:
[code]

**This will be called each time there'

[2019-05-03 21:04] hiranya911 commented on #50
Yes they are singletons keyed by names.

Please use Stackoverflow for this type of questions.

[2019-05-03 21:04] #50 closed

[2019-05-03 21:10] hiranya911 commented on #45
In the future the SDK will automatically handle retries. This is already implemented in our Java, Python and Go SDKs, and being currently implemented in Node.js (see https://github.com/firebase/firebase-admin-node/pull/518). C# SDK will also have the same feature eventually.

You don't have to do any of that. `System.Net.Http.HttpResponseMessage` exposes the headers and content separately: https:/

[2019-05-04 10:06] KalleOlaviNiemitalo commented on #45
I meant my application needs to search for a newline when it is still using FirebaseAdmin 1.4.0 or earlier.

[2019-05-06 13:52] shaishavs commented on #50
Thank you. Yes, I will use SO.

Can you tell the session expiration time i.e how long FirebaseApp stays authenticated once an instance is created? I have looked up at many documentations but couldn't find anything.

[2019-05-09 05:58] ChristopherLenz opened #51 "Request all users"
This SDK shall also implement a functionality to retrieve all users. This is already implemented in the other 3 languages and is a main function for an admin SDK.

[2019-05-10 11:21] ChristopherLenz commented on #51
@hiranya911
Maybe you can have a look at my fork. I created a draft for this feature. If you think this makes sense, I would add some tests and create an pull request

https://github.com/ChristopherLenz/firebase-admin-dotnet/commit/fb974a32a24edf5afd951ccf29554518451803f7

[2019-05-10 11:45] ChristopherLenz opened #52 "customAttributes size limitation is calculated with UTF-16, but it is UTF-8"
If the byte-count is calculated with Unicode (UTF-16), it needs 2 bytes per character. The Java and Golang SDK use UTF-8 for that. This way these SDK's are able to store 1000 characters, whereas the dotnet SDK can only store 500 characters.

Can be found in **CheckCustomClaims**-method of **UserRecord**-class.

`
var customClaimsString = SerializeClaims(customClaims);
var byteCount = Encoding.Unic

[2019-05-10 17:11] hiranya911 commented on #52
Good catch @ChristopherLenz. We can fix it for an upcoming release. You're also welcome to provide a pull request.

[2019-05-12 16:30] RomanHubyak opened #54 "CollapseKey is set by default"
Hello!

When I send a message client (Android app) receives it with CollapseKey.
The issue is when client returns online it receives only last message.

The code below sends message:

[code]

[2019-05-12 16:33] RomanHubyak commented on #54
![image](https://user-images.githubusercontent.com/46841287/57585142-c94ecf80-74ec-11e9-9680-5c70b72c0fe9.png)
The received message.

[2019-05-14 06:08] ChristopherLenz opened #55 "UpdateUser for all properties"
At the moment there is only one update-function "**SetCustomUserClaimsAsync**". The internal called "**UpdateUserAsync**" from UserManager is capable to update all properties from the **UserRecord**.
It makes sense to delegate the generic "UpdateUserAsync"-method and make it usable in the "**FirebaseAuth**"-class.

Similar to the Java-SDK: https://github.com/firebase/firebase-admin-java/blob/55d40

[2019-05-14 08:52] ChristopherLenz opened #56 ""UpdateUser"-method used by "SetCustomUserClaimsAsync" throws "MISSING_LOCAL_ID""
The serialized "UserRecord" JSON uses the property-names of the "UserRecord"-class. This is wrong and has to be remapped.

Currently:
`{
   "Uid":"40MgueENCLft6rl5Zs4Et0FuiQF3",
   "ProviderId":"firebase",
   "EmailVerified":false,
   "Disabled":false,
   "TokensValidAfterTimestamp":0,
   "customAttributes":"{\"Roles\":[\"AAA\",\"BBB\"]}"
}`

But correct properties would be:
- localId
- email
- di

[2019-05-14 15:25] DanVicarel commented on #45
Just ran into this issue as well. Having to parse JSON in an exception message is kind of ridiculous.  Hopefully that `FirebaseMessagingException` from the Java SDK can be added soon.

[2019-05-24 18:24] hiranya911 commented on #56
Yes, this was correct in the last release: https://github.com/firebase/firebase-admin-dotnet/blob/31e55ef09ccf50f95cc2dd36d5868228ba320163/FirebaseAdmin/FirebaseAdmin/Auth/UserRecord.cs#L37-L49

But since then it has broken in the master branch. #53 should fix it.

[2019-05-24 18:25] hiranya911 commented on #54
That seems to be auto inserted by the FCM service. @chong-shao can you take a look?

[2019-05-25 08:21] redplane opened #59 "The caller does not have permission [403] with firebase cloud messaging."
Hi,

I'm using `ASP.Net Core` as my back-end for my project.
In my project. I need to send push notifications to my clients.

I registered `FirebaseApp` and `FirebaseMessaging` as dependency injection components.

Here is my code:

[code]

Following [this tutorial](https://firebase.google.com/docs/cloud-messaging/auth-server), I can get a `service account` json file. I downloaded that file and sav

[2019-05-29 21:08] #52 closed

[2019-05-31 20:43] hiranya911 commented on #56
This fix was released in 1.5.0

[2019-05-31 20:43] #56 closed

[2019-05-31 20:47] hiranya911 commented on #59
Code looks ok, although you have a lot of boilerplate I'm not familiar with, so I can't say for sure. I'd try removing the `CreateScoped()` API call, since the SDK adds all the scopes it requires by default.

The other thing to verify is that the project ID you specify corresponds to the service account you're using to authenticate with.

[code]

[2019-06-03 16:05] mikeperrett opened #65 "CreateCustomTokenAsync throws Exception: "Method Not Found System.String.TrimEnd""
@hiranya911

The unit tests succeed when calling JwtUtils::UrlSafeBase64Encode around line 89 with this code:
return base64Value.TrimEnd('=').Replace('+', '-').Replace('/', '_');

I don't understand how that is so, since System.String.TrimEnd takes as a parameter a char array and you are passing a single char: '='

After recompiling the project with this change to "TrimEnd", it now works as expect

[2019-06-04 13:28] mikeperrett commented on #65
@hiranya911 thank you! Indeed the code is correctly written. When I compile firebase-admin-dotnet locally and reference the locally compiled dll, everything works as expected. So, at the very least, I can assume that there is something outside of the code itself, as you've pointed out above.

My environment is Windows 10, Visual Studio 2017 Pro, I tried changing my project to different versions of

[2019-06-07 21:27] hiranya911 commented on #65
I'm going to close this since I don't see there's a bug to be fixed. Feel free to reopen with more details if something needs to be done.

[2019-06-10 14:54] takuya1981 opened #71 "FR: Support Cloud Storage"
firebase-admin-dotnet does not support Cloud Storage yet.
I'd like to contribute for it.

The simple specifications are as follows:
* Need new class to handle Cloud Storage. Its name is FirebaseAdmin.Cloud.FirebaseStorage as an example.
* FirebaseStorage instance is managed in FirebaseApp class.
* FirebaseStorage instance has Google.Cloud.Storage.V1.StorageClient instance.
* FirebaseStorage instan

[2019-06-10 17:37] hiranya911 commented on #71
Seems like a good addition. Except I wouldn't call the class `FirebaseStorage`. Perhaps `StorageClientHelper` or just `GoogleCloudStorage`.

[code]

[2019-06-10 23:43] takuya1981 commented on #71
Name is StorageClientHelper, I understand.

StorageClient support custom encryption key like this.
[code]
This class should support this function like this.
[code]
What do you think?

[2019-06-10 23:57] hiranya911 commented on #71
Hi @takuya1981. Thanks again for thinking about this. I'm not convinced that we should expose custom encryption keys at this stage. We haven't exposed it in other languages. Therefore let's start with just `GetStorageClient()` for now. Note that `GetStorageClient(FirebaseApp)` won't be necessary if we attach `CloudStorageHelper` instance to a `FirebaseApp`. So we are looking at something like:

[c

[2019-06-10 23:59] hiranya911 commented on #71
Correction. We can just expose the StorageClient as a static:

[code]

[2019-06-11 00:12] takuya1981 commented on #71
I understand that encryption key is not needed at the moment and signature of method.

And I opened draft pull request, draft means that encryption key is still supported, I'll delete it.

[2019-06-11 13:24] takuya1981 commented on #71
I opened pull request. Please review it.

[2019-06-11 13:40] kevingoos opened #73 "Firebase 404 NOT_FOUND"
I am trying to implement firebase admin into ASP.NET core but I am missing something...
Everytime I run my code I get the following error:

[code]
The code that I am running:
[code]
Registration:
[code]
Github link: https://github.com/kevingoos/FirebaseAdminTest
Stackoverflow: https://stackoverflow.com/questions/56499904/firebaseadmin-messaging-returning-404-not-found

[2019-06-11 14:40] ruaridhnewman commented on #65
Hi @hiranya911 , I found a similar issue when using `VerifyIdTokenAsync`, which throws an error:

 `Method not found: 'System.String[] System.String.Split(Char, System.StringSplitOptions)'.`

when using .NET Framework 4.7. It is broken for releases 1.5.0 and 1.6.0, but works for 1.3.0 and 1.4.0 so something that was released in 1.5.0 seems to have broken it. It works as expected for a .NET Core pr

[2019-06-11 17:01] hiranya911 commented on #65
Nothing has changed in the token verification code since March: https://github.com/firebase/firebase-admin-dotnet/commits/master/FirebaseAdmin/FirebaseAdmin/Auth/FirebaseTokenVerifier.cs

So I assume this is some issue with how the releases are bundled. Does anybody know what's going on here? I see similar issues reported in other projects, but don't see specific resolution: https://answers.unity.

[2019-06-11 17:19] hiranya911 commented on #73
This happens when the token is invalid/expired or does not belong to the same project as the credentials used to initialize the Admin SDK.

[2019-06-11 17:19] #73 closed

[2019-06-11 23:20] hiranya911 commented on #65
I only have access to a Linux/Mono environment at the moment. I tried reproducing the issue there, but that didn't work. Here's what I tried:

ExampleApp.csproj
[code]

HelloWorld.cs
[code]

Compile and run:
[code]

This fails with the expected exception:
[code]

Can you provide a similar example, that I can try on my machine?

[2019-06-12 06:45] jskeet commented on #65
I've reproduced the issue on Windows with @hiranya911's exact project/program file (with an additional LangVersion element for async main).

Now looking into what's going on here.

[2019-06-12 06:55] jskeet commented on #65
Okay, so this is the line of code that's broken, in FirebaseTokenVerifier:

[code]

For .NET 4.7, that *should* be generating IL like this:

[code]
(That's what the same code calls if you put it in the sample app.)

However, the IL in FirebaseAdmin.dll does indeed look like it's trying to call a different method:

[code]

It looks like that overload *does* exist in .NET Core 2.0+, but not in .NET

[2019-06-12 08:19] ruaridhnewman commented on #65
Thanks for looking into this so quickly! When I copy across the dlls from a .net core compiled version it works fine, so I agree, looks like something to do with how its compiled.

[2019-06-12 16:43] hiranya911 commented on #65
Thanks @jskeet  for looking into this. We do build our releases using .NET core. Here's `dotnet --info` output from the build environment:

[code]

Now if I remember correct, this machine used to have .NET Core 2.1 until recently. May be upgrading to 2.2 was what caused the issue. I can try compiling some DLLs on this machine and see if that's the issue.

@jskeet any tooling suggestions for inspec

[2019-06-12 16:57] jskeet commented on #65
Updating to the 2.2 SDK *shouldn't* have caused this. But given that it targets netstandard1.5 and net45, presumably you're building on a Windows box somewhere? (We can continue this part internally, of course.)

In terms of an equivalent to ildasm but on Linux - I'm afraid I don't know of one that's widely adopted. https://www.nuget.org/packages/dotnet-ildasm/ looks encouraging - I haven't tried

[2019-06-12 17:21] jskeet commented on #65
I can confirm that that tool works really simply:

[code]

[2019-06-12 18:46] hiranya911 commented on #65
I can repro the difference in IL by compiling against different .NET framework versions:

**/usr/lib/mono/4.5/ (default):** IL_000b: callvirt instance string[] string::Split(char, [mscorlib]System.StringSplitOptions)
**/usr/lib/mono/4.5-api/:** IL_001c: callvirt instance string[] string::Split(char[])
**/usr/lib/mono/4.7-api/:** IL_001c: callvirt instance string[] string::Split(char[])

I wonder i

[2019-06-13 11:47] theberserker opened #75 "FCM - Too dificult to work with the response error codes"
The `FirebaseException` seems a bit oversimplified by just wrapping the `HttpRequestException` and also not aligned with https://firebase.google.com/docs/reference/fcm/rest/v1/ErrorCode

Error code enums should be returned somewhere. What I have to at this point is to look up for status code (e.g. "[503]") in the `FirebaseException.Message`, which of course doesn't work in the case of `UNSPECIFIED

[2019-06-13 16:13] hiranya911 commented on #75
Closing as a duplicate of #45.

No FCM operation actually returns in `UNSPECIFIED_ERROR` as far as I know. None of the other Admin SDK implementations handle it explicitly.

[2019-06-13 16:13] #75 closed

[2019-06-14 22:44] #51 closed

[2019-06-18 11:12] ChristopherLenz opened #78 "custom claims are not writeable via update or create"
The **Create**- and **Update**-Methods use the **UserRecordArgs**-class. But the **CustomClaims**-property is only internal. I assume this property should be public, otherwise the test **UpdateUserSetCustomClaims** in **FirebaseUserManagerTest** makes no sense.

[code]

[2019-06-18 17:26] hiranya911 commented on #78
During our API review we decided to not expose this property. Developers must call `FirebaseAuth.SetCustomUserClaimsAsync()` to update custom claims. The above test case still makes sense since it provides line coverage. It will make even more sense once the changes in the `hkj-auth-test-full` branch gets merged.

[2019-06-18 17:26] #78 closed

[2019-06-21 17:13] hiranya911 commented on #59
Have you figured this out? If not can you provide a minimal and complete repro for us to try out?

[2019-06-21 17:14] hiranya911 commented on #55
Fixed in #70

[2019-06-21 17:14] #55 closed

[2019-06-21 17:14] hiranya911 commented on #11
Fixed in #67

[2019-06-21 17:14] #11 closed

[2019-06-21 17:15] hiranya911 commented on #9
Fixed in #53

[2019-06-21 17:15] #9 closed

[2019-06-22 11:00] redplane commented on #59
Sorry for my late reply.
It was my mistake. I put wrong appId into the firebase cloud message, that's why I got 403 .
The credential I copied wasn't from Firebase cloud console.

[2019-06-22 11:00] #59 closed

[2019-06-27 07:17] theberserker opened #83 "Implementation of InstanceIdClient (FCM topic management) is missing"
The title should be quite self-explanatory. I'm looking at java SDK, where FCM topic management functionality is available under `InstanceIdClient`, methods `subscribeToTopic` and `unsubscribeFromTopic`. Can this feature be expected anytime soon by the Firebase team?

[2019-06-27 18:43] hiranya911 commented on #83
Not unless somebody in the community contributes the code. The Firebase team will eventually get to it, but it won't be anytime soon.

[2019-06-27 20:18] hiranya911 commented on #65
This should be fixed in the 1.7.0 release. We have moved our release pipelines to Windows with .NET Framework.

[2019-06-27 20:18] #65 closed

[2019-06-27 21:07] ruaridhnewman commented on #65
Great, thank you!

[2019-06-27 21:27] mikeperrett commented on #65
Awesome!, thanks so much

[2019-06-28 10:28] mirosama opened #85 "Firebase admin proxy issue"
Note: my firebase code is running on container behind the proxy and in my code i am configurating it like in image below .

![image](https://user-images.githubusercontent.com/25574071/60336164-25ed4780-99d2-11e9-97e1-5ba990247d24.png)

Note: I used curl command to send notification using proxy and it works like a charm

but firebase admin code gives this error

{"EntryDate":"Fri Jun 28 09:34:42 +0

[2019-06-28 10:31] NecromancerKing commented on #85
I am crippled by exact same probelm. Any idea how to configure http proxy correctly with firebase admin in .Net?

[2019-06-28 20:36] hiranya911 commented on #85
It's the `GoogleCredential` that is failing to connect to the remote server. You have to also pass your proxy configuration to the credential. See the example at https://medium.com/google-cloud/accessing-google-cloud-apis-though-a-proxy-fe46658b5f2a

[2019-06-28 20:36] #85 closed

[2019-07-01 10:08] mirosama commented on #85
i am passing a JSON file with all the credentials , it is working fine in a environment that doesnt require proxy but it gives error when i try to run in a environment that requires proxy . curl and http direct call is working fine even in proxy environment . It is an http proxy without any credentials just URL . what i am exactly missing ?

[2019-07-01 23:37] hiranya911 commented on #85
You need to pass your `ProxyHttpClientFactory` to `GoogleCredential` as well. See the example I referenced above.

[2019-07-01 23:54] chong-shao commented on #54
Sorry for the delay in reply. FCM service only sets collapseKey when it's present in the request. @RomanHubyak , could you file a support case to Firebase if this issue still occurs? We can start there and ask for more information from you to debug.

[2019-07-01 23:54] #54 closed

[2019-07-03 01:51] c0rrectanswer commented on #85
The combination of GoogleCredential.FromJson and
passing your proxy configuration to the GoogleCredential won't work.

[2019-07-03 03:21] c0rrectanswer commented on #85
You need to do ... this ... and that ... as well, how to do that?
[code]
How to pass your ProxyHttpClientFactory to GoogleCredential?
[code]
How to pass your ProxyHttpClientFactory to FirebaseAdmin FirebaseApp.Create AppOptions?
[code]
![image](https://user-images.githubusercontent.com/52475928/60561000-9efaef00-9d84-11e9-811b-823d64e5cfed.png)

[2019-07-03 03:27] c0rrectanswer commented on #85
You need to do ... this ... and that ... as well, how to do that?
[code]
How to pass your ProxyHttpClientFactory to GoogleCredential?
[code]
How to pass your ProxyHttpClientFactory to FirebaseAdmin FirebaseApp.Create AppOptions?
[code]
How to fire the message?
[code]
![image](https://user-images.githubusercontent.com/52475928/60561222-69a2d100-9d85-11e9-9da1-3a52fb2ec14f.png)

[2019-07-03 12:48] Thaina opened #86 "Could you please provide pure dll that could be used in unity PC platform?"
I just want to write unity editor extension that could administering firebase system in the editor. Such as minting token to login as any ID for testing process

But unity cannot use nuget officially. So if there would be pure dll and dependency or unitypackage that could easily include in the project that would be great

Is it possible?

[2019-07-03 21:14] chientranse commented on #65
@hiranya911 Thank you so much!

[2019-07-05 03:03] hiranya911 commented on #86
This sounds like a client-side use case, but I don't know enough about Unity to be certain. We usually have a strict policy against not supporting client-side development with Admin SDKs.

@stewartmiles what do you think?

@Thaina can you build your own DLLs from the source for your work? I'm not sure how to even publicly distribute a DLL.

[2019-07-05 04:49] c0rrectanswer commented on #85
Testing code for environment with proxy without FirebaseAdmin
[code]

[2019-07-09 04:31] chrisparkeronline commented on #73
Maybe you can help me. I'm getting the same error after my code working for a few days. I'm downloading the json file from the "Settings"/"Service accounts" area of firebase console. I click the "Generate new private key" button and it gives me the file. Add that to my project and load it. FYI i'm doing this in a Azure Function but it's pretty much the same as your web code.

Am I generating the j

[2019-07-09 10:22] Wilson-Lim commented on #23
Is there a fix other than forking out ?

[2019-07-15 19:51] hiranya911 commented on #45
Here's the finalized design for the new exception types:

[code]

[2019-07-15 19:55] swebgit commented on #45
@hiranya911 Will the new exception structures be included in the next release of the SDK?

[2019-07-15 20:28] hiranya911 commented on #45
@swebgit They will be released incrementally over a series of releases.

[2019-07-16 08:16] RannyRanny opened #88 "Add support for analytics_label to be specified"

[2019-07-23 19:14] #88 closed

[2019-07-25 10:20] Leo-Mepham opened #93 "Proposal: Implementation of InstanceIdClient (FCM topic management)"
As per issue #83, I'm working on a conversion to C# from the Java InstanceIdClient to allow tokens to be added and removed from topics.

Guidelines said I should post here first, although I'm currently just working through unit & integration tests :)

Let me know if there's anything I should be aware of or bear in mind.

[2019-07-26 20:58] hiranya911 commented on #93
I'll dedupe this with #83 for easier tracking.

[2019-07-26 20:58] #93 closed

[2019-07-29 13:50] tatocaster opened #95 ""image" JsonProperty is missing from AndroidNotification class"
https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#androidnotification

[2019-07-30 13:39] Kiruchi opened #96 "Heads up notification not displaying in Android 7.1"
I am trying to send a heads up notification to a specific topic on a variety of devices.
I do have devices on Android 7.1 and +.

Everything is ok when I try to send a notification to Android 7.2+.
Notification channels are used and I created a channel with an appropriate importance so the heads up notification is showing properly.

On this [link](https://developer.android.com/guide/topics/ui/noti

[2019-07-31 12:21] jphillips05 opened #97 "Support for voip notification"
Doe this support Pushkit for iOS?

[2019-08-02 21:09] hiranya911 commented on #97
No it doesn't. See https://stackoverflow.com/questions/37326450/does-firebase-cloud-messaging-support-voip-pushkit-services for a related discussion.

[2019-08-02 21:09] #97 closed

[2019-08-02 21:11] #83 closed

[2019-08-09 18:21] chong-shao commented on #96
Hi @Kiruchi ,  the Priority in AndroidConfig is an FCM concept that controls when the message is delivered. It does not translate to Android priority.

The current reference for this field in https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages is confusing. We will update the reference soon to clarify the concept.

[2019-08-09 18:21] #96 closed

[2019-08-09 19:11] hiranya911 commented on #45
Note that the FCM APIs now support the fine-grained error handling scheme outlined above. `FirebaseMessagingException` and `MessagingErrorCode` types were included in the v1.8 release. More to come.

[2019-08-10 16:41] Kiruchi commented on #96
So is there any parameter for Android priority ? Or a way of sending a message which will be in heads up on Android 7.1 ?

[2019-08-13 06:46] andrewhamili opened #103 "Firebase provider custom data"
Is there a way to get auth provider custom data like the Facebook Access Token?

[2019-08-13 06:47] andrewhamili commented on #103
Is there a way to get auth provider custom data like the Facebook Access Token?

[2019-08-13 18:14] chong-shao commented on #96
Hi @Kiruchi , for now there's no way to directly send a heads up message on Android 7.1. A solution would be to update the client-side code to accept a data message and convert it to a displayed notification on the client side.

We are working on a solution to provide more parameters in FCM API so this can be supported.

[2019-08-13 18:19] hiranya911 commented on #103
Can you provide more details please? What exactly is your use case?

[2019-08-14 03:27] andrewhamili commented on #103
![image](https://user-images.githubusercontent.com/20767537/62992395-cbc31b80-be85-11e9-8045-62e0709dfd57.png)

In Firebase Auth Web, you can obtain Facebook User access token in the authentication result, I would like to get the Facebook User access token on server side instead of requesting it from the client. I haven't tried it yet on Firebase PHP.

[2019-08-15 05:55] mduu opened #104 "Getting "not valid registration token" after upgrade to Version 1.8.0"
After upgrading from V 1.7.0 to 1.8.0 I get the following error:

[code]

on calling `FirebaseMessaging.SendAsync()`. When I downgrade to V 1.7.0 everything works fine again. Same happens if I download a fresh admin JSON.

Here is a part of my code:
[code]

Did I miss any breaking change?

[2019-08-15 06:20] hiranya911 commented on #104
FCM tokens are never checked/processed in the SDK. Only the FCM backend service can do that. And nothing has changed in the way we send the token to the backend service as far as I know. Can you:

1. try sending a message to some random topic and see if that succeeds?
2. add the following line to your code and share the output?

[code]

[2019-08-15 08:55] mduu commented on #104
Thanks for your fast response. It was very helpful to know that nothing changed in the way the token gets processed. I debugged my unit-tests further and found that the problem finally was in the changed exception handling and the exception-messages (which is mentioned in the Release notes of 1.8). I aligned our code and now it seems to work with v 1.8.

[2019-08-15 08:55] #104 closed

[2019-08-16 20:52] hiranya911 commented on #103
We don't expose this type of client-side operations in the Admin SDK. Admin SDK is expected to be used in server-side/administrative use cases, and therefore should not be directly handling enduser credentials.

[2019-08-16 20:52] #103 closed

[2019-08-17 21:25] Rohansi commented on #86
The Unity Editor is development time so not client-side. You can try using this: https://assetstore.unity.com/packages/tools/utilities/nuget-for-unity-104640

Or, if you just want a DLL, you can [download the package directly from NuGet](https://www.nuget.org/packages/FirebaseAdmin/) (see right side) and unzip it to find the DLL.

[2019-08-19 06:26] andrewhamili commented on #103
Yes. I know Firebase Admin SDK is expected to be used server-side. But is it possible to get the facebook User access token usng firebase Admin SDK? I will use it to get some user details on Facebook Graph API.

[2019-08-21 13:12] kanclalg opened #106 "Create custom token using a service account ID"
Hi, I'm trying to create custom token for specified service account from different service account. I'm following this guide: https://firebase.google.com/docs/auth/admin/create-custom-tokens#using_a_service_account_json_file (Using a service account ID).
When I configure it like that and try to generate a token, that token is invalid. So I started debugging:
https://github.com/firebase/firebase-ad

[2019-08-21 17:07] hiranya911 commented on #106
What do you mean by that? The SDK cannot generate an "invalid" token as long as the service account used to sign it is valid. Unless you're using a service account from project A and using the resulting token to sign into project B.

Yes, some application default credential implementations are not of the `ServiceAccountCredential` type -- especially the ones that are auto discovered in managed clo

[2019-08-21 18:12] kanclalg commented on #106
Yes. That's what I'm trying to achieve. I'm using service account from project A, I set `ServiceAccountId` from another project B and expect to generate token with which I could sign into project B.

[2019-08-21 18:24] hiranya911 commented on #106
That's not allowed. When you're setting a service account ID, the SDK has to invoke the Cloud IAM API to sign the token remotely with that service account ID: https://cloud.google.com/iam/reference/rest/

That API call is authorized with the credentials you have specified (or application default credentials if unspecified). You cannot authorize an IAM API call with credentials from project A, and

[2019-08-21 18:24] #106 closed

[2019-08-22 06:45] kanclalg commented on #106
But it's possible, @hiranya911 ? because if I set `serviceAccount` to `null` (debugging) it sets signer as that: `signer = new FixedAccountIAMSigner(app.Options.HttpClientFactory, app.Options.Credential, app.Options.ServiceAccountId);` in that case at first I get this error:

this error is documentated here https://firebase.google.com/docs/auth/admin/create-custom-tokens

But if I add `Service Acc

[2019-08-22 07:47] hiranya911 commented on #106
Yes, but this cross pollination of projects and service accounts is not something we wish to support or advertise. It's often very confusing to reason about the permissions of projects this way. Also this works today because we don't put the project ID in the IAM endpoint (notice the `/projects/-/` part in the error message). That might change in the future, or IAM might change how the project ID

[2019-08-22 18:02] DanVicarel commented on #45
@hiranya911 So if we get a `MessagingErrorCode.InvalidArgument`, what is the recommended way to determine which argument was invalid?  Is the only option still to parse the exception message as JSON?

[2019-08-22 18:29] hiranya911 commented on #45
A lot of the time, the error message indicates what went wrong.

[code]

This is directly extracted from the error response sent by FCM:

[code]

If a certain INVALID_ARGUMENT error message doesn't have enough details, let us know by filing an issue (please provide enough details for us to repro the behavior), and we can work with the FCM team to get the necessary details included in the FCM serve

[2019-08-22 18:38] KalleOlaviNiemitalo commented on #45
Suppose a mobile app has sent a registration token to my server, which then tries to send FCM messages to the mobile app, but the token turns out to be invalid. In this case, I'd like my server to recognize the error so that it can stop trying to use the invalid token for any other messages. Should the server then recognize the "The registration token is not a valid FCM registration token" string

[2019-08-22 18:46] DanVicarel commented on #45
My use case is pretty much identical to @KalleOlaviNiemitalo's. Being able to recognize invalid tokens at runtime is pretty key, and I believe the response for invalid tokens is `InvalidArgument`.

[2019-08-22 18:54] hiranya911 commented on #45
As shown in my previous comment, the FCM server response doesn't provide any more granular information in this case. But I do see the point of your use case. Perhaps it makes sense to introduce a new `type.googleapis.com/google.firebase.fcm.v1.FcmError` error code to signal invalid FCM tokens (this should be done in the FCM server first).

Can I ask one of you to file a new issue describing this u

[2019-08-29 06:41] P-Kielkowski commented on #45
dead @hiranya911,
In my .Net client I am using following method:

`string response = await FirebaseMessaging.DefaultInstance.SendAsync(message);`

1. How can I recognize that my message was sent successfully and delivered to client app?
2. How can I recognize that FCM server was unavailable? Should I try{} catch{} this message and check for some specific error? If yes, pls give me actual error cod

[2019-08-29 17:00] hiranya911 commented on #45
1. There's no way to detect if a message was delivered to a client app or not. FCM is an asynchronous messaging system. You can only know if a message was successfully handed off to FCM or not (indicated by the return value or the exception raised by the SDK). Client device delivery depends on many factors, some of which are not under your or even Firebase's control (e.g. the target device may be

[2019-08-30 03:48] NiCoTinEz opened #108 "Got Deadlock on FirebaseMessaging.SendAsync(msg).ConfigureAwait(false).GetAwaiter().GetResult()"
I've got deadlock on FirebaseMessaging.SendAsync(msg).ConfigureAwait(false).GetAwaiter().GetResult()

i've investigate that lib doesn't do .ConfigureAwait(false) for all async call.

i've download source and solve it. it work fine

[2019-08-30 17:03] #108 closed

[2019-09-04 11:52] dmitry-pavlov opened #110 "How can I get ID Token from custom token?"
How can I get ID Token from custom token?

[code]

I see samples for some other languages/platforms but not for C# - how to get ID token via current user here - [Retrieve ID tokens on clients](https://firebase.google.com/docs/auth/admin/verify-id-tokens#retrieve_id_tokens_on_clients). But for C# neither UserRecord nor FirebaseAuth provides ID Token. Any pointers are much appreciated.

[2019-09-04 11:55] dmitry-pavlov commented on #110
I see in the tests source code [this method](https://github.com/firebase/firebase-admin-dotnet/blob/master/FirebaseAdmin/FirebaseAdmin.IntegrationTests/FirebaseAuthTest.cs#L341):

`private static async Task<string> SignInWithCustomTokenAsync(string customToken) { ... }`

but I don't understand how can I use it with my service account JSON key file.

[2019-09-04 12:20] dmitry-pavlov commented on #110
Paised this on Stack Overflow as well https://stackoverflow.com/questions/57788286/how-can-i-get-id-token-from-custom-token

[2019-09-04 13:31] mburumaxwell opened #111 "Support for importing users"
Is there planned support for importing users similar to node.js?

[2019-09-04 13:48] Thaina commented on #110
IDToken exist in client device. The library in this repo is C# dotnet on the server side. For client we might use C# in unity but we don't have firebase for xamarin yet

[2019-09-04 15:34] dmitry-pavlov commented on #110
I have found the way to get the ID token in `FirebaseAdmin` integration tests - see method [SignInWithCustomTokenAsync](https://github.com/firebase/firebase-admin-dotnet/blob/master/FirebaseAdmin/FirebaseAdmin.IntegrationTests/FirebaseAuthTest.cs#L341). The only thing I have to adjust was base URL: according to [Firebase Auth REST API](https://firebase.google.com/docs/reference/rest/auth) document

[2019-09-04 15:35] #110 closed

[2019-09-04 17:14] hiranya911 commented on #111
Yes, at some point. We welcome pull requests.

[2019-09-04 19:19] dmitry-pavlov commented on #110
I would propose to add to `FirebaseAuth` something like:

`var idToken = FirebaseAuth.DefaultInstance.SignInWithCustomTokenAsync(accessToken, apiKey);`

P.S. I was thinking of contributing such change, forked repo... But folks, codebase looks over complicated than [it should be](https://en.wikipedia.org/wiki/KISS_principle) in my humble opinion. So I am not sure I should to add one more 'alien' de

[2019-09-05 00:21] petetmailo opened #112 "if there are examples of this project could execute ?"
https://github.com/PhilJay/MPAndroidChart

Like the above MPAndroidChart Project includes the example whcih let us quickly understand the usage of this project.

I want to know if there are examples of this project could execute ?

[2019-09-05 09:18] #112 closed

[2019-09-05 10:00] dmitry-pavlov commented on #110
I am using it in ASP.NET Core application

[2019-09-08 10:08] petetmailo opened #113 "How to generate a token?"
https://firebase.google.com/docs/admin/setup
I follow this above page to generate new private key and store key file,
and then set the GOOGLE_APPLICATION_CREDENTIALS environment variable  successfully.
I just only get two file from firebase ,one is "google-services.json" and the other is 'fir-database-fbbf0-firebase-adminsdk-cboyj-a31168588e.json'(private key file)

I want to send message via fire

[2019-09-09 15:04] Sub-Zero-1 opened #114 "System.ArgumentException: "The default FirebaseApp already exists.""
Hi!

Once I try to initialize a new instance of FirebaseApp in another WPF window a get following message: System.ArgumentException: "The default FirebaseApp already exists."

This message also appears within Android, React etc. and there are solutions for it, but I can't find any solution for .net C#?
So how to avoid this error?

[2019-09-09 20:55] hiranya911 commented on #113
Custom tokens are used to authenticate users: https://firebase.google.com/docs/auth/admin/create-custom-tokens

You need FCM device registration tokens to send messages.

Please use StackOverflow for usage questions such as this.

[2019-09-09 20:55] #113 closed

[2019-09-09 20:56] hiranya911 commented on #114
See how to initialize multiple apps: https://firebase.google.com/docs/admin/setup#initialize_multiple_apps

Please use StackOverflow for usage questions.

[2019-09-09 20:56] #114 closed

[2019-09-10 13:00] mickeahlinder commented on #45
I might have misunderstood something here but the response I get from FCM for the exact same error does not include the `details` part of the response that you have in your example. Is there a specific configuration needed to get the detailed errors, or did you mean that the `details` section will also be available in an upcoming release of FCM?

[2019-09-10 17:51] hiranya911 commented on #45
@mickeahlinder You need #107 for that. That's not yet released.

[2019-09-10 18:33] mickeahlinder commented on #45
Yes, Thank you. After some further research I figured that out. I managed to set that header myself using a DelegatingHandler and managed to get the MessagingErrorCode populated on the FirebaseMessagingException, so it seems to be working or am I just lucky?
Is it brittle to use that header along with the 1.8.0 release?

[2019-09-10 18:59] hiranya911 commented on #45
@mickeahlinder Nice 👍 The SDK already has the correct parsing logic to handle the details section of the error response. So you're all set. You can remove your custom handler, when you upgrade to a newer version of the SDK in the future.

[2019-09-10 19:02] mickeahlinder commented on #45
Cool, thanks for your swift replies. Much appreciated! 😀

[2019-09-13 18:38] james-perfectserve commented on #45
@mickeahlinder how did you set up the Delegating Handler? looks like the code that adds the header which results in FirebaseMessagingException.MessagingErrorCode getting populated was added 7 days after 1.8.0 was published and no new packages have been published yet.

or

@hiranya911 could we get a 1.8.1 package published now that the
request.Headers.Add("X-GOOG-API-FORMAT-VERSION", "2"); header i

[2019-09-15 16:20] cucu1 commented on #111
Is there any documentation for the admin REST API we can use? or we need too look into implementations in other languages and start from there?

[2019-09-16 19:15] hiranya911 commented on #111
There's https://firebase.google.com/docs/reference/rest/auth but it might not list all the operations. Looking at one of the other SDKs (Java for instance) is probably the best reference.

[2019-09-18 00:36] #95 closed

[2019-09-23 15:32] halomademeapc opened #118 "Custom data on FirebaseAdmin.Messaging.Notification?"
Hello,
I'm trying to send a notification with this sdk and I'm supposed to set ```"click_action":"FCM_PLUGIN_ACTIVITY"``` on the notification object so that our cordova app can handle click events.  Is there any way to do this via the sdk?

[2019-09-23 17:31] hiranya911 commented on #118
`click_action` is only available for `AndroidNotification` in the v1 API: https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#androidnotification

[2019-09-23 17:32] hiranya911 commented on #118
@chong-shao please see if there's anything missing from this API, and resolve as you see fit.

[2019-09-25 06:10] chong-shao commented on #118
@hiranya911 I may misunderstood something here, but seems like click action is supported?
https://github.com/firebase/firebase-admin-dotnet/blob/master/FirebaseAdmin/FirebaseAdmin/Messaging/AndroidNotification.cs#L81

[2019-09-25 08:09] hiranya911 commented on #118
Yes, it is supported on `AndroidNotification`. But the developer also wants it supported on `Notification` (I think). It seems in the legacy API this was available as general notification option.

[2019-09-25 18:29] halomademeapc commented on #118
That's correct.  Our client app uses cordova-plugin-firebase which requires a click_action to be set on the notification object to trigger events in the app after a user opens the app via a notification.  I tried setting the value in AndroidNotification already but it doesn't have any effect there.

[2019-09-30 15:29] bulletblp4 commented on #45
Are the new Apis for `FirebaseMessagingException` and `MessagingErrorCode ` added as part of go libs as well ? I am currently using `firebase.google.com/go v3.9.0`

[2019-09-30 18:35] sjahongir opened #120 "click_action for WebpushNotification"
How to use click_action with WebpushNotification for web?

Like this?
[code]

[2019-10-03 03:26] tamngonesv030 commented on #39
I had the same problem, Firebase Admin SDK version 1.9.0 for .NET can't push notification to iOS.
How to I can fix it?

[2019-10-03 16:58] hiranya911 commented on #39
@tamngonesv030 file a support request with details about your project, code and configuration. Nothing that can be done in this repo regarding your issue.

[2019-10-03 20:34] hiranya911 commented on #45
This issue is completely addressed as of the v1.9.0 release.

[2019-10-03 20:34] #45 closed

[2019-10-03 20:38] hiranya911 commented on #120
There's no such option supported in the Webpush Notification spec: https://developer.mozilla.org/en-US/docs/Web/API/notification/Notification

WebpushFcmOptions are documented here: https://firebase.google.com/docs/reference/admin/dotnet/class/firebase-admin/messaging/webpush-fcm-options

Please use Stackoverflow for usage questions such as this.

[2019-10-03 20:38] #120 closed

[2019-10-13 17:13] radiohe4d opened #122 "Is there any documentation on how to unit test Firebase SDK?"
I'm trying to write MS Unit tests with Moq framework to test my auth logic with Firebase implementation.

I've tried googling Firebase .Net Unit testing but haven't found anything relevant.

The Firebase SDK has no Interfaces and all the classes are sealed so its not possible to mock it using Moq.

Aside from wrapping all the methods in their own custom methods (which i successfully did with Verif

[2019-10-14 18:41] hiranya911 commented on #122
We recommend developers to define their own interfaces for this purpose.

[code]

[2019-10-14 18:41] #122 closed

[2019-10-15 23:35] chong-shao commented on #118
Hi halomademeapc, the fields in Notification object all map to fields in all platforms (Android, iOS, and Webpush). But if I understand it correctly, clieck_action do not have a corresponding field in iOS https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/PayloadKeyReference.html#//apple_ref/doc/uid/TP40008194-CH17-SW1 therefore it makes l

[2019-10-15 23:35] #118 closed

[2019-10-18 10:37] lkishor opened #126 "Issue with connecting to Firebase"
Hi, I have created a .Net API that sends a notification to users.
It was working fine till yesterday, and Now I am getting below error:
FirebaseMessagingException - Timed out while making an API call: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond.

I suspect, the

[2019-10-18 18:07] hiranya911 commented on #126
The above URL and https://oauth2.googleapis.com/token for FCM API calls. If you're seeing this error consistently, please contact support and provide more project-specific information.

[2019-10-18 18:07] #126 closed

[2019-10-22 03:55] lkishor commented on #126
Thanks @hiranya911, I will get this URL whitelisted on my company network and try..I'll update if that works.

[2019-10-27 09:46] Gokaysim commented on #73
I have tested it. Yes, thats the problem but not a solution. In my architectural design, I don't want to send Notification from my controller. Is there anyone working on a PR or something. Maybe I can help too

[2019-10-31 02:50] redplane opened #128 "Support logging request & response while sending push message to server"
Hi team,

I am using `FirebaseAdmin` for my project.
Currently, I don't see any any callback or delegate to help me to get the information of the requests | responses that are sent | recevied to | from firebase cloud messaging service.

I notice there is one property in `AppOption` named `HttpClientFactory`.
I wonder there are any examples about that to log the request | response or not. For now,

[2019-10-31 18:46] hiranya911 commented on #128
Haven't tried this myself, but perhaps you can implement an `HttpClientFactory` that returns an `HttpMessageHandler` like this one: https://stackoverflow.com/a/18925296/5190886

Let us know if you manage to get it to work.

[2019-11-01 08:14] redplane commented on #128
I have seen your source code. You are wrapping httpClient while initializing firebase app instance.
I wonder how we can apply HttpClientHandler to those instances.

I think you can expose a delegate from firebase app instead.

[2019-11-01 17:59] hiranya911 commented on #128
`HttpClientFactory` has a `CreateHandler()` method that can be overridden for this. I'd expect that approach to work.

https://github.com/googleapis/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Core/Http/HttpClientFactory.cs

[2019-11-05 15:06] redplane commented on #128
Ok, thank you. I'll try and update you later.

[2019-11-18 23:20] MSchmack commented on #126
@lkishor  Getting the same issue with http posts, did the above resolve your issue?

[2019-11-19 00:48] lkishor commented on #126
No it didn't, We had to whitelist whole IP address range used by Google..

[2019-11-19 01:09] hiranya911 commented on #126
Are you behind a proxy? Is that the problem here? Where did you have to whitelist Google IPs?

If it's matter of a proxy, now you can specify a `HttpClientFactory` when initializing the SDK: https://firebase.google.com/docs/reference/admin/dotnet/class/firebase-admin/app-options#class_firebase_admin_1_1_app_options_1a828e351aeabd2bb4ea99c39601273e4d

There's a sample factory implementation for pro

[2019-11-19 08:29] lkishor commented on #126
Servers are behind a Corporate Firewall, only known IP addresses are whitelisted. This was done by the Network team in the company..

[2019-11-20 07:28] MSchmack commented on #126
Also behind a corporate firewall. We had no issues until recently with just the fcm.googleapis.com fqdn on tcp open. Periodically the issue seems to resolve and creep back up.

Whitelisting the whole range doesnt seem wise from a security point of view.

[2019-11-20 14:14] MSchmack commented on #126
Alright the issue on our side is resolved. The problem was not due to firebase directly, its the way firebase changes its ip's like many google services incredibly fast, so fast that our firewall compared the target ip of our request with the current one of fcm.googleapis.com and already noticed a missmatch - Atleast that's the current assumption.

[2019-11-20 14:19] lkishor commented on #126
What's the preferred way of white listing on corporate firewall in this case?

Please share once you reach a solution..

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Schmack <notifications@github.com>
Sent: Wednesday, November 20, 2019 7:44:13 PM
To: firebase/firebase-admin-dotnet <firebase-admin-dotnet@noreply.github.com>
Cc: Lal Kishor <bigboss08@live.com

[2019-11-20 14:59] MSchmack commented on #126
Luckily it's just outward traffic (assuming it's a application firewall) so with some arguing once it's proven that the FQDN solution doesn't work you can probably get a internet any rule which will resolve the issue.
I can't speak for process at your company but IP range's wont work for us as google mentions that the ranges are updated every month and a firewall change request is not applied in a

[2019-12-03 20:45] neiesc opened #129 "Why FirebaseMessagingException ctor is internal?"
I'm using "Simmy, the monkey for making chaos" http://www.thepollyproject.org/2019/06/27/simmy-the-monkey-for-making-chaos/ for create exceptions and FirebaseMessagingException is not cannot instantiate.

[2019-12-05 17:50] hiranya911 commented on #129
We keep the public API surface as small as possible. Constructing our exception types in user code is not a typical use case.

[2019-12-09 18:26] #129 closed

[2019-12-11 00:32] WellspringCS opened #130 "Call to load credentials with FirebaseAdmin does not work"
Usually I post my issues on stack exchange, because I'm assuming the problem is mine. [So I've done that...](https://stackoverflow.com/questions/59277240/call-to-load-credentials-with-firebaseadmin-does-not-work)

But It occurs to me that on this one maybe I should log a bug. Sure seems to be one. So here's what I wrote...

I am working with FirebaseAdmin 1.9.1 and attempting to use the recommende

[2019-12-11 01:31] hiranya911 commented on #130
`GoogleCredentials` API is part of https://github.com/googleapis/google-api-dotnet-client, so that's where you should really report this. But in any case, I'd be extremely surprised if this turns out to be a bug. Application default credentials are the common and preferred way to use these APIs, and we will be dealing with multiple bug reports if there was a bug. We also have the following unit te

[2019-12-11 03:59] WellspringCS commented on #130
Thanks for your reply -- apologies for logging this issue in the wrong place!

Yes, it does seem strange and suspicious for me to be the only one with this problem... however the code is as shown above.

I don't get errors until a REST call activates the API.

The symptom is that the credentials go (in the below code) from having proper values for everything (Id, ProjectId, etc) to having essentia

[2019-12-11 06:16] hiranya911 commented on #130
What is the exact error you are getting?

What does that mean? Does it get set to null? I would expect `FirebaseApp.Create()` to throw if the `Credential` option was null. So that cannot be it:

https://github.com/firebase/firebase-admin-dotnet/blob/83222d3b44760603c5a41424e199b69eeebaff5c/FirebaseAdmin/FirebaseAdmin/FirebaseApp.cs#L72-L75

Also try adding the following line to your code and ensur

[2019-12-11 06:22] hiranya911 commented on #130
You can see here that the first thing it does is to look up the `GOOGLE_APPLICATION_CREDENTIALS` env variable:

https://github.com/googleapis/google-api-dotnet-client/blob/master/Src/Support/Google.Apis.Auth/OAuth2/DefaultCredentialProvider.cs#L84

My guess is that your env variable is not set correctly (or it is not set in a way that is visible to your running process). This causes it to fallback

[2019-12-11 11:46] WellspringCS commented on #130
Believe you me, I've looked at that code in the last 24 hours! I understand. However that would be the $64,000 question. Why (??) can the ASP.NET Core 3.0 project find the environment variable just fine--via secrets--and load it into environment variables... oh, wait, rubber duck programming at work here... secrets are not environment... are they? Let me moving that setting... try that again, this

[2019-12-11 11:46] #130 closed

[2019-12-12 09:15] DominikKreuz opened #131 "Firebase Console - Cloud Messaging Report"
Hello,

we use this package to send push notifications to Android phones, which is working nicely.
But we can not see any send notification in the report (Firebase console -> Cloud Messaging Report).
Do you have an idea why?

Thanks

[2019-12-12 18:24] hiranya911 commented on #131
I don't think the notifications sent via the SDK/APIs ever appear on the console. APIs are designed to send large volumes of notifications at scale. Console is designed to send few notifications manually, and it will only display them.

[2019-12-12 18:24] #131 closed

[2019-12-13 21:35] hiranya911 commented on #128
I'm going to close this as I don't see any pending action items for this repo. Please feel free to reopen if we've missed something.

[2019-12-13 21:35] #128 closed

[2019-12-15 07:52] Abrissirba opened #132 "SendAllAsync - order of responses"
This is more of a question and something that you might want to add to the documentation. When you send many messages in batch with SendAllAsync, is the order of the responses guaranteed to be in the same order as they had in the list provided to SendAllAsync? I need to handle notifications that couldn't be sent and would therefore need the response to be in the same order as the request so that I

[2019-12-18 10:18] graphicsxp commented on #85
Where is ProxyHttpClientFactory coming from  ?  I cannot find it.

[2019-12-18 20:21] hiranya911 commented on #85
That's a class you implement by extending the `HttpClientFactory`.

[2019-12-21 21:15] cyraid opened #133 "This repository still alive?"
Being the last update was between months to a year ago.. Is this repository relying on community or are there actual Firebase / Google employees working on this? I might be having second thoughts about using Firebase if the C# support is not alive.

(Are the pull reviews not being looked at?)

[2019-12-23 19:12] hiranya911 commented on #133
Yes, this repo is looked after. But it has lower priority compared to other languages like Node.js. And we do depend on community contributions for new features.

[2019-12-23 19:12] #133 closed

[2019-12-23 22:06] hiranya911 commented on #132
Yes, the order of responses is guaranteed to be the same as the order of input messages. This is mentioned in the documentation.

https://firebase.google.com/docs/cloud-messaging/send-message#send-a-batch-of-messages

[2019-12-23 22:06] #132 closed

[2019-12-28 19:44] alexsandro-xpt commented on #73
@hiranya911 Why the client token expire?
Can I know when all client token will expire to refresh a new token?

[2019-12-29 22:34] alexsandro-xpt opened #134 "Verify app tokens or get more information about the app instance that created the token."
There some API in C# to get information about app instances and verify app tokens or get more information about the app instance that created the token using this API? GET https://iid.googleapis.com/iid/info/<IID_TOKEN>

As mentioned at https://developers.google.com/instance-id/reference/server

[2019-12-31 20:24] Marc-Tanne commented on #120
FirebaseAdmin.Messaging.WebpushFcmOptions link is populated with https:// url and on click of notification, the card simply dismisses, the link is not triggered

[2020-01-03 23:50] hiranya911 commented on #134
Please file a feature request at https://firebase.google.com/support

None of our SDKs currently expose any API for querying IIDs. It needs to be assessed and treated as a new feature request.

[2020-01-03 23:50] #134 closed

[2020-01-10 20:24] alexsandro-xpt commented on #134
@hiranya911 but this feature already exist( GET https://iid.googleapis.com/iid/info/<IID_TOKEN> ) in firebase.

[2020-01-10 22:28] hiranya911 commented on #134
Yes, but none of our SDKs have this API, and as of today we don't have any plans to add it to the SDKs. So this should be reported to the appropriate team, and assessed as any other new feature request.

[2020-01-13 15:42] graphicsxp opened #136 "setting click_action for iOS notification"
For Android, I set the clickAction of AndroidNotification as below. But how should it be done for iOS ?

     var msg= new Message()
     {
            Notification = new Notification()
             {
                    Title = message.Title,
                    Body = message.Body,
              },
               Data = message.Data,
                Android = new AndroidConfig()

[2020-01-13 19:37] hiranya911 commented on #136
iOS settings are basically what's documented in the APNs documentation: https://developer.apple.com/library/archive/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/PayloadKeyReference.html

Check there and ask around in StackOverflow for how to implement this use case for iOS devices.

[2020-01-13 19:37] #136 closed

[2020-01-26 04:46] WellspringCS opened #138 "token rejected with error invalid_grant Invalid JWT Signature"
Using Postman I get a token from Firebase via this endpoint:
https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key={{FirebaseApiKey}}

it returns to me an idToken: I've removed some characters from the below, but it's representative.

eyJhbGciOiJSUzI1NiIsImtpZCI6ImU1YT3RsbGMuY29tIl19LCJzaWduX2luX3Byb3ZpZGVyIjoicGFzc3dvcmQifX0.JljpJXibNtxrwnfb5OJzauOom-PgGSTFBw7eOl-zb6gj1jrYDzmb

[2020-01-26 22:22] hiranya911 commented on #138
Neither the ID toolkit REST API, nor the Google API client which seems to be throwing the above exception have anything to do with this repo. Please try asking on StackOverflow or reach out to GCP support. I'd also point you to https://github.com/googleapis/google-api-dotnet-client but without a more specific repro, I don't think they can help either.

All we can tell from the exception is that, s

[2020-01-26 22:22] #138 closed

[2020-01-26 22:31] WellspringCS commented on #138
My apologies -- after posting it last night I decided the problem probably had to do not with the token, but with the credentials Firebase needs to log in and find info on the user. So I'll keep digging. Probably the error is mine.

Regardless, it appears I've picked the wrong Firebase audience, and I apologize for the distraction.

But please help me understand. The error is happening in an **ASP

[2020-01-27 00:01] hiranya911 commented on #138
@WellspringCS, The `FirebaseAdmin` package is indeed in this repo, but your exception has been thrown by the google-api-dotnet-client. The Google API client is responsible for fetching OAuth2 access tokens, and authorizing outgoing HTTP requests, but for some reason it's failing to do so in your app. On top of that you've also mentioned ID tokens and the Identity Toolkit REST API, which are whole

[2020-01-27 00:21] WellspringCS commented on #138
OK, Thx - when I pick this up tomorrow, I'm going to look into the other credentials. I now suspect it's not the token that is the problem, but the credentials set up to initialize my FirebaseAdmin service. (And I'm assuming that the problem is mine.)

One question -- do you happen to know if there is a google service where one can throw a token at a google endpoint and verify if the token is vali

[2020-01-27 00:50] hiranya911 commented on #138
I'm not aware of a public endpoint that verifies ID tokens. The `/oauth2/v1/tokeninfo` seems to be related to OAuth2, and I wouldn't expect it to verify ID tokens.

Now I haven't verified this. But at least in principle, if you're passing the `returnSecureToken: true` option to your `signInWithPassword` endpoint, it should send back an ID token that can be verified by the [`FirebaseAuth.VerifyIdTo

[2020-01-27 21:33] WellspringCS commented on #138
Ah, I've seen the names of tokens used interchangeably enough times that I didn't look too closely at that. Thanks for clarifying.

To the point! Today I revisited my service token and confirmed (idiot me) that it was out of date. So it was not the firebase token that was the problem, but the service token I was using when interacting with google-api-dotnet-client. I do apologize for taking up you

[2020-01-30 15:15] Dongata opened #139 "Support for iot injection with interfaces for testing prupposes"
Can you please extract the signatures of the admin classes into services so we can mock them to test our code

Thank you

[2020-01-30 16:38] luky92 opened #140 "Support for sound in Message and MulticastMessage"
Are ther any plans to add sound support for Message and MulticastMessage classes??

[2020-01-30 16:47] #140 closed

[2020-01-31 22:51] hiranya911 commented on #139
@Dongata can you elaborate what exactly you mean by services?

In general, this is the pattern I'd recommend for developers (taking `FirebaseMessaging` API as an example:

[code]

Then you use the `INotificationSender` interface everywhere in your code, where you wish to send a notification. This cleanly separates Firebase SDK from your code, and makes it easier to test. In the future if you choos

[2020-02-13 18:23] Dongata commented on #139
Yeah, we're using it like that, But i think that will be great if that the inversion of control, can be supported by default on the library, given that is like a netcore standard.

Thanks for your help tho.

[2020-02-14 21:49] hiranya911 commented on #139
Most of the time defining such interfaces in the SDK is counterproductive. Each user only cares about a subset of the SDK methods, which means one of 2 things can happen:

1. If we extract all signatures of a class into a single interface (e.g. `FirebaseAuth --> IFirebaseAuth`) users will end up having to implement very large interfaces, where most methods are of no interest to them.
2. Alternativ

[2020-02-19 11:00] LeXa777 opened #148 "Support sending JSON as part of FCM"
We have an iOS app that we send push notifications to using PushSharp. We have now decided to move to FCM but the problem we're facing is that we used to be able to send raw json to our apps, however, using the C# Admin SDK I could only find the Message.Data property, which is a Dictionary<string, string> type. Unfortunately, we can't convert our existing JSON to this dictionary as not all our val

[2020-02-19 11:49] #148 closed

[2020-02-19 11:50] LeXa777 commented on #148
Was able to find my answer. What I was looking for was message.Apns.CustomData instead of message.Data.

[2020-02-21 15:18] mirkarpude opened #149 "Any updates on multi-tenancy"
Authenticating with multi-tenancy

[2020-02-21 18:09] hiranya911 commented on #149
Unless we get some contributions from the community, I don't expect it to happen in the near future.

[2020-02-25 15:06] jebax opened #150 "Revoking refresh tokens"
Any updates on when we will be able to get this functionality implemented?

https://firebase.google.com/docs/auth/admin/manage-sessions#revoke_refresh_tokens

[2020-02-26 02:18] moander commented on #149
See #152

[2020-02-27 13:17] jwoodwardtfx opened #153 "Add latest HTTP v1 options"
It seems there are a lot of newer options for FCM not available in the .NET Firebase Admin  (see
 [https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#AndroidNotification](url)).

Specifically the newer options for AndroidNotifications. The current class ends at "channel_id", however the following are now available:

  "ticker": string,
  "sticky": boolean,
  "event_time": str

[2020-02-27 15:43] HorjeaCosmin opened #154 "IOS data message not work"
Hi,

I'm trying to send data message using FirebaseAdmin.Messaging component. While on Android it works well, on IOS we cannot handle whatever we do. Our client application is react-native and the back-end environment is asp.net core 3.0.

Server side implementation:

  ...
            var notificationMessage = new MulticastMessage
            {
                Tokens = registrationTokens,

[2020-02-27 19:00] hiranya911 commented on #153
They will be added eventually. Feel free to send a PR in the meantime. Following API signatures have been proposed to expose these options in .NET:

[code]

[2020-02-27 19:48] hiranya911 commented on #149
Based on the API signatures we've come for the Java SDK:

[code]

[2020-03-02 20:55] chliangGoogle commented on #154
Can you show us a sample code on how you handle message receiving on iOS?

[2020-03-03 07:39] HorjeaCosmin commented on #154
Like a already wrote above:

this.messageListener = firebase.messaging().onMessage((message) => {
console.log(message)
}

Actually, on IOS simulator everything works fine for both Android / IOS, only on IOS real device it doesn't work.

Regards,
C

[2020-03-03 19:14] chliangGoogle commented on #154
hmmm I'm not aware of this API in our iOS SDK. Are you sure this is Firebase Messaging iOS SDK you are using?

I'm talking about the "onMessage((message)" part that I don't find it in iOS API. https://github.com/firebase/firebase-ios-sdk/blob/master/Firebase/Messaging/Public/FIRMessaging.h

[2020-03-04 07:12] HorjeaCosmin commented on #154
Hi @chliangGoogle,

please check this reference that we're using: https://rnfirebase.io/docs/v5.x.x/messaging/receiving-messages

Regards,
C

[2020-03-04 19:17] chliangGoogle commented on #154
The API you referred is react native adoptions on top of firebase so I'm afraid you need to check with their team to see if why their api couldn't handle it correctly.

[2020-03-05 22:38] chliangGoogle commented on #154
@Feiyang1 Can you double check to see if this API belongs to our js SDK or it's react native's APIs.

[2020-03-16 18:58] skjagini opened #157 "The datastore operation timed out, or the data was temporarily unavailable"
Getting "The datastore operation timed out, or the data was temporarily unavailable" with Firestore running in server environment.

My Environment: .Net Core running in Docker (Linux) in Google Kubernetes  with
Firestore Version: Google.Cloud.Firestore, Version 1.1.0

The issue doesn't happen with Firestore Emulator, it only happens in actual Firestore in GCP.

The issue is happening only when I q

[2020-03-16 20:07] hiranya911 commented on #157
Wrong repo. Report at https://github.com/googleapis/google-cloud-dotnet

[2020-03-16 20:07] #157 closed

[2020-03-23 19:42] fabioalves opened #158 "Support custom Base URL for FirebaseMessagingClient"
Hi,

For integration/end-to-end test purposes I would like to set a custom Base URL in FirebaseMessagingClient.

Currently, this value is hardcoded in https://github.com/firebase/firebase-admin-dotnet/blob/7c972d8ab692e84085498f8fa7fea3c150cd0b31/FirebaseAdmin/FirebaseAdmin/Messaging/FirebaseMessagingClient.cs#L37

This could be configured as a property in FirebaseApp.AppOptions and passed to  Fir

[2020-03-23 20:41] hiranya911 commented on #158
For unit testing we recommend developers use blackbox testing. `FirebaseMessagingClient` is an internal class, and developers shouldn't be aware of or depend on the implementation details of such classes. The fact that the SDK makes a remote API call is an implementation detail. So define your own interfaces, and create implementations that use the SDK, and separate implementations for testing.

[

[2020-03-23 20:41] #158 closed

[2020-03-24 18:45] atresnjo opened #159 "CreateUserAsync doesn't return the idToken & refreshToken. Am I missing something?"
[Sign up with email / password](https://firebase.google.com/docs/reference/rest/auth#section-create-email-password)

But the REST API returns it. For now, to get the tokens I am just logging on automatically after the registration is done. Is this expected behavior? Thanks! :)

[2020-03-24 19:19] hiranya911 commented on #159
Yes, this is the expected behavior. Admin SDK does not support user authentication operations (sign in or sign up). The `CreateUserAsync()` API in this library is meant to create user accounts from an administrative or other backend environment, without a direct involvement of the user. The REST API we use for this purpose (`POST /account`) allows creating user accounts without any parameters, and

[2020-03-24 19:19] #159 closed

[2020-03-25 17:00] andy-hugecalf opened #160 "createSessionCookie"
It looks like createSessionCookie isn't implemented in this dot net SDK - are there any plans to implement it?

[2020-03-25 18:04] hiranya911 commented on #160
Definitely want to see it implemented at some point. PRs welcome.

[2020-03-29 14:47] HadiHas opened #161 "Badge not showing on Android"
Hello,

we added the Badge to the android Data payload dictionary but its not showing since it should be as and integer not as string.
is their another way to solve this?

[2020-03-30 18:40] hiranya911 commented on #161
Please clarify your question. What are you trying to achieve and what have you tried so far (show code samples)?

Data field is usually used to send application-specific data, so sending a badge in it won't do anything.

[2020-03-30 19:35] HadiHas commented on #161
Im trying to add the android badge to the notification, im sending the message as MulticastMessage
and want to add the badge number to be received to android when the app is killed.
how can i achieve that?

What i already did is adding badge to the Message payload {Data} property. but it still not showing.

[2020-03-30 19:46] hiranya911 commented on #161
There's no such field supported for Android notifications. There's a `badge` field for iOS (APNs) notifications. Is that what you mean?

Here's an exhaustive list of all the options supported by FCM: https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#Message

Can you point out which option you're trying to set?

[2020-04-07 13:32] kevnord commented on #160
+1

[2020-04-09 10:17] YuriPetskus opened #168 "How convert APNs device token to FCM token at server side?"
iOS application recieve APNs token and send it to backend.
iOS application don't use Firebase Client SDK.

Before sending a push notification, the backend must register the APNS token in the FCM.
How do it?

[2020-04-09 11:47] bnoffer opened #169 "Getting SenderIdMissmatch error when trying to send notification via FCM"
Hi everyone,
I working on implementing FCM on our server and I followed the Firebase Guide for FCM to setup the FirebaseApp instance. You can see the full implementation here:: https://github.com/real-digital-Mobile-Apps/net-core-push-notifications/blob/feature/RefactoringMerge/CorePush/Google/FcmSender.cs

I found a similar issue for the GO SDK: https://github.com/firebase/firebase-admin-go/issue

[2020-04-09 16:53] hiranya911 commented on #169
It typically means your authorization credential do not match the FCM token that you're trying to send notifications to. Most likely they are from two different projects.

https://github.com/firebase/firebase-admin-dotnet/blob/c6b8bba37adb8dfa72d64c36fecd03708455d938/FirebaseAdmin/FirebaseAdmin/Messaging/MessagingErrorCode.cs#L42-L45

[2020-04-09 16:54] hiranya911 commented on #168
Please use Stackoverflow of Firebase Support for usage questions.

[2020-04-09 16:54] #168 closed

[2020-04-10 20:37] hiranya911 commented on #169
I will close this since there's no action item I can see for the SDK implementation. If you continue to experience issues with this, please contact us via Firebase support.

[2020-04-10 20:37] #169 closed

[2020-04-14 10:08] bnoffer commented on #169
How can that happen if everything is originating from the same Firebase project? I checked this more then twice to make sure that I have the correct configurations loaded on the server and app.

[2020-04-14 18:05] hiranya911 commented on #169
@bnoffer it's hard to tell, since we have no insight to how your tokens were generated, or how they were passed to the server-side code. I'd advise you the following course of action:

1. Log the device tokens for which this error occurs.
2. File a support ticket and indicate your project ID and the tokens that result in the error: https://firebase.google.com/support

[2020-04-14 18:12] #150 closed

[2020-04-15 06:40] bnoffer commented on #169
@hiranya911 Thank you very much, I will do so.

[2020-04-17 15:11] hotyes commented on #160
+1

[2020-04-17 20:31] hiranya911 commented on #161
Closing due to lack of information

[2020-04-17 20:31] #161 closed

[2020-05-05 17:19] Feiyang1 commented on #154
https://rnfirebase.io builds on top of the native iOS SDK. Its APIs are similar to the JS SDK, but it eventually delegates to the native iOS SDK.

[2020-05-06 19:46] hiranya911 commented on #160
This has been released. See https://firebase.google.com/docs/auth/admin/manage-cookies

[2020-05-06 19:46] #160 closed

[2020-05-06 23:23] kevnord commented on #160
Thank you so much! This is great.

[2020-05-08 19:17] lingxiao commented on #97
Any updates?

[2020-05-08 19:52] hiranya911 commented on #97
It's not something we are actively working on. If you have a specific use case, please file a feature request with Firebase Support.

[2020-05-16 02:43] rravithejareddy opened #181 "Authenticate with Firebase with a Phone Number Using C#"
As I can see i can't implement authenticating PhoneNumber using this library, are you planning to support it.

[2020-05-16 15:30] rravithejareddy opened #182 "Can i access firebase phone auth users suing firebase-admin-dotnet"
I have plan to create flutter app with phone auth, but I have a doubt, can I access phone auth users through this library.

[2020-05-18 16:54] hiranya911 commented on #181
User authentication operations are not supported in any of our Admin SDKs, and are not planned to be supported. Only client SDKs support user authentication operations.

[2020-05-18 16:54] #181 closed

[2020-05-18 16:55] hiranya911 commented on #182
https://firebase.google.com/docs/reference/admin/dotnet/class/firebase-admin/auth/firebase-auth#getuserbyphonenumberasync

[2020-05-18 16:55] #182 closed

[2020-05-19 12:14] alxsad commented on #97
@hiranya911 It's really important thing, I don't know why FCM still does not support APNS VOIP messages.

[2020-05-19 15:22] MathBunny opened #183 "Integration tests require manually enabling Email/Password authentication on Firebase Console"
## Observation

After following the [contributing guide](https://github.com/firebase/firebase-admin-dotnet/blob/master/CONTRIBUTING.md), I was running into some issues running the integration tests. More specifically:

[code]

## Solution
Login to the Firebase Console, then go to: `Authentication` -> `Email/Password` -> `Enable`, and then enable the `Email Link (Passwordless Sign-In)` as well.

Af

[2020-05-19 18:02] hiranya911 commented on #183
Thanks @MathBunny. Feel free to send in a PR with a fix. I think easiest would be to update the instructions.

[2020-05-19 18:04] hiranya911 commented on #97
It's a product decision, and this repo is not the right place to have those discussions. I suggest you reach out to Firebase Support and file a feature request with them: https://firebase.google.com/support

[2020-05-20 19:43] #183 closed

[2020-05-21 23:47] hiranya911 opened #185 "FR: Implement ImportUsersAsync() API"
Implement an API for importing Firebase Auth user accounts in bulk. Partial API proposal:

[code]

[2020-05-29 21:07] NassPage opened #190 "code at sending stucked"
at line   `string response = await FirebaseMessaging.DefaultInstance.SendAsync(message).ConfigureAwait(true);`
my code stuck , there is no error or response

`public async Task<string> SendToTokenAsync(string registrationToken, Dictionary<string, string> data)
        {
            // [START send_to_token]
            var message = new Message()
            {
                Data = data,

[2020-05-29 22:21] hiranya911 commented on #190
You should set `ConfigureAwait(false)` if you have any UI code: https://medium.com/bynder-tech/c-why-you-should-use-configureawait-false-in-your-library-code-d7837dce3d7f

[2020-05-29 22:21] #190 closed

[2020-05-31 11:28] NassPage commented on #190
thank you for sharing this article

[2020-06-02 06:14] a43mrk opened #192 "slow notification"
hellow!
what can cause the slow delivery of the notifications?
is there somehow to optimize?
sometimes messages don't get delivered on ios device too :(

[2020-06-02 17:52] hiranya911 commented on #192
File a support issue at https://firebase.google.com/support. They can help you figure out what's going on.

[2020-06-02 17:52] #192 closed

[2020-06-06 06:13] a43mrk commented on #192
thank you @hiranya911

[2020-06-11 13:29] MathBunny commented on #185
Merged in #191, remaining work is to make a release that includes the change.

[2020-06-12 20:52] hiranya911 commented on #185
Will be included in the next release.

[2020-06-12 20:52] #185 closed

[2020-06-12 20:54] hiranya911 commented on #154
It doesn't look like there's a bug in the Admin SDK here. If you continue to have issues with receiving notifications on iOS, please raise an issue with Firebase Support.

[2020-06-12 20:54] #154 closed

[2020-06-12 20:55] hiranya911 commented on #111
Fixed in #191

[2020-06-12 20:55] #111 closed

[2020-06-16 11:01] bjustice-sympatient opened #196 "Add support for Mocking"
As far as I can tell, all IFirebaseServices are sealed and have internal constructors.

This presents us with the challenge of how we can test code, which uses the FirebaseAdminSdk, which contains very critical operations.
I ask you to re-evaluate this design decision, as mocking is required to achieve a high test coverage of our own code, which interfaces with FirebaseAdmin SDK directly.

In my p

[2020-06-16 11:07] bjustice-sympatient commented on #139
@hiranya911 The solution you propose merely shifts the problem:
It is impossible to test the class `FirebaseNotificationSender`.
There is no alternative to being able to mock a service.
At one point or another, there will be an untested service.

Please re-evaluate this design decision, as it introduced great risk at critical services, interfacing with FirebaseAuth and FirebaseMessaging, for examp

[2020-06-16 11:30] Dongata commented on #139
Yeah you right about the title, english is not my first language c:

Mocking those services is not imposible, is just annoying. i'll pass you an example on your issue, hope it helps

[2020-06-16 11:35] Dongata commented on #196
If it is of any help, on other context, i work-arrounded this issue with some effy use of reflection, in this case for firebase Auth, im guessing that you can use the same steps for fcm

[code]

[2020-06-16 11:58] bjustice-sympatient commented on #196
Thanks, this helps me create my response objects (I didnt know FormatterServices.GetUninitializedObject), but mocking the services methods in a sane way is still missing some pieces (Not too excited to write my own mocking framework for this SDK)

[2020-06-16 12:56] bjustice-sympatient commented on #86
Nuget for Unity was quite messy when I tried it for a different Nuget package.
It also downloads all ".net core SDK" dependencies, which results in huge unnecessary downloads.

One possible way (used by other libraries as well) is to build a .dll file and distribute it as a "release" in github.

The only tricky part here would be handling transitive dependencies.
@Thaina have you investigated in t

[2020-06-16 13:42] Thaina commented on #86
@bjustice-sympatient I haven't done anything about this since then, I just have my own server as proxy because I don't want to mess with nuget in unity too

[2020-06-16 17:03] hiranya911 commented on #139
Assuming that class simply turns around and calls the `FirebaseMessaging` API, you shouldn't need to test it. That's the idea.

Mocking is just a way to swap out third-party or otherwise unmodifiable code with your own code for testing. The solution above has the same net result. You just treat `INotificationSender` as the main programming interface, and `FirebaseNotificationSender` as an unmodifi

[2020-06-16 17:04] hiranya911 commented on #139
Also related to #158

[2020-06-17 07:58] bjustice-sympatient commented on #139
By introducing interfaces, the developer receives more flexibility and a cleaner public interface.
Yes, I can write an adapter (copy pasting your classes public signatures), but this will be prone to errors when you upgrade your SDK.
Interfaces provide a stable public API to work against, while the internals of the class can change at any time.

Unsealing classes simply enables developers to exten

[2020-06-17 17:20] hiranya911 commented on #139
Couple of points worth noting here:
1. You don't necessarily have to mimic our API surface. In fact, in most cases you shouldn't (see my comment below about wrappers).
2. Our public API is already stable with strict adherence to SemVer. So you won't encounter breaking API changes unless we bump the major version number. In which case, you have to update some of your code to match any way.

I'm not

[2020-06-19 08:38] clement128 opened #199 "Does the cloud message supported use ServerKey for authorisation ?"
Hi there, I would like to just use `Server Key` for sending cloud message instead of service account, is it possible?

[2020-06-19 14:45] levimatheri commented on #153
Is anyone working on this, or can I take a stab at it?

[2020-06-19 17:13] hiranya911 commented on #153
@levimatheri nobody's working on it afaik. Feel free to provide a PR :)

[2020-06-19 17:13] hiranya911 commented on #199
That's the old way of sending notifications. We do not support it in the Admin SDKs.

[2020-06-19 17:13] #199 closed

[2020-06-22 14:49] sonyisda1 commented on #23
See this [SO posting](https://stackoverflow.com/a/38603514/731081).  Basically you need to add the assembly reference:
`<add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />`

[2020-07-03 16:52] sam17896 opened #205 "IIS 500 error when deployed on server"
I have integrated this package in my application using .net core 3.1, it working fine on local machine but throwing **500.31 ANCM Failed to Find Native Dependencies** on server. The application works fine without this package. Can anyone please point out which dependencies might be missing from server and if this package support .net core 3.0+. What might be I missing here

[2020-07-08 10:36] TheSpy opened #207 ".NET Core 3.1 System.Interactive.Async assembly issues"
Trying to run FirebaseAuth ListUsersAsync method an error is thrown
System.IO.FileNotFoundException: Could not load file or assembly 'System.Interactive.Async, Version=3.2.0.0, Culture=neutral, PublicKeyToken=94bc3704cddfc263'. The system cannot find the file specified.

code snippet

`var e = _firebaseAuth.ListUsersAsync(null).GetAsyncEnumerator();
try
{
    while (await e.MoveNextAsync())
    {

[2020-07-08 17:35] hiranya911 commented on #207
Yes, it appears a version conflict between different versions of Gax. The 2.x version of Gax that we depend on has the following dependency:

[code]

This has been removed in the Gax 3.x version. We can start the migration process for latest Gax but it will likely be a while. In the meantime perhaps you can take an explicit dependency on the above assembly and make sure it's available to your app?

[2020-07-08 18:28] TheSpy commented on #207
Thanks for reply.

I have tried that, unfortunately another error is thrown saying

System.NotImplementedException: The method or operation is not implemented.
   at Google.Api.Gax.PagedAsyncEnumerable`2.GetAsyncEnumerator(CancellationToken cancellationToken)

[2020-07-08 18:54] hiranya911 commented on #207
Can you try raising this at https://github.com/googleapis/gax-dotnet?

Given that the issue is caused by their libraries, they might have known workarounds. Only other immediate solution I can think of is downgrading your other PubSub dependency to something that uses Gax 2.x

[2020-07-08 21:30] TheSpy commented on #207
Downgrading to an older PubSub version did help. This is good enough until client migrated to latest GAX.

Thanks for you help.

[2020-07-13 18:26] Awr0ra opened #209 "Couldn't setup HttpClientFactory for proxy using"
Following code is working locally very fine.
The users receive All notifications when I send them via local PC.
But I need use proxy on the server and this code fires the error: "Failed to establish a connection: Network is unreachable".

[code]

[2020-07-13 18:44] hiranya911 commented on #209
What's preventing you from specifying a `HttpClientFactory` with proxy settings?

[2020-07-13 20:03] Awr0ra commented on #209
I tried to do it but unfortunately couldn't.

[2020-07-13 20:58] hiranya911 commented on #209
Please provide more details on what you tried, and what didn't work. Did you encounter any errors (compiler errors or runtime exceptions)? Without more details, we cannot really move forward this.

[2020-07-13 22:06] Awr0ra commented on #209
I've added implementing my HttpClientFactory
But nothing channged:   "errorMessage": "Failed to establish a connection: Network is unreachable",

[code]
and added here

[code]

but somthing strange when i saw here:  json = JsonConvert.SerializeObject(defaultApp, Formatting.Indented);

[code]

[2020-07-13 22:31] hiranya911 commented on #209
You have to also pass the `ProxyHttpClientFactory` to the credential. See the .NET example in https://medium.com/google-cloud/accessing-google-cloud-apis-though-a-proxy-fe46658b5f2a

[code]

The API for this is pretty cumbersome to use, but hopefully it will get addressed in the future: https://github.com/googleapis/google-api-dotnet-client/issues/1547

That's the proxy used by the credential. You

[2020-07-14 09:05] Awr0ra commented on #209
Should I obtain  p12 file (string  CREDENTIAL_FILE_PKCS12 = "/path/to/your/cert/file.p12";) ?

[2020-07-14 18:08] hiranya911 commented on #209
That's one option. You can also just get the private key from the regular service account json file, and call `FromPrivateKey()` on the `Initializer`.

[2020-07-17 21:35] hiranya911 commented on #209
I assume the use case in question was implemented with the APIs provided in Google API client for .NET. I will close this as I don't see any remaining AIs for this repo.

[2020-07-17 21:35] #209 closed

[2020-07-17 21:38] hiranya911 commented on #205
According to Azure documentation https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis:

I think this issue needs to be debugged and resolved at the deployment level. But if there's anything specific that can be done in this repo, please let us know.

[2020-07-17 21:38] #205 closed

[2020-07-21 17:42] nathan-c commented on #149
It looks like #152  is nearly done but hasn't been touched since Feb. It would be great to get this merged if possible as it is useful functionality to have in the dotnet SDK.

[2020-07-21 20:05] crash-her opened #216 "Background Notification not being sent to iOS app"
When I execute the below code my app does not get the background notification but the batchResponse is a success. Before switching to Firebase we were using Apples APNS protocols to trigger the background notifications and it works flawlessly.

[code]

the generated body is
[code]

[2020-07-21 21:12] hiranya911 commented on #216
Are there any errors indicated in the returned `BatchResponse`?

[2020-07-21 21:13] crash-her commented on #216
No

Thanks
-Mat
On Jul 21, 2020, 5:12 PM -0400, Hiranya Jayathilaka <notifications@github.com>, wrote:

[2020-07-21 21:26] jackle991 commented on #110
Hi @dmitry-pavlov, I'm Jack. I am currently working on Mobile Pay Integration that use .net for MP service. I created a customToken with nodejs in the server but I don't know how to signInWithCustomToken from .net Client. I'm also not familiar with the syntax. Can you please with me with the steps?

[2020-07-21 22:26] hiranya911 commented on #216
Please reach out to Firebase Support and provide your project ID and token information. They can help you sort it out. If there are no errors in the SDK-end that means the message was successfully handed off to FCM backend service for delivery.

[2020-07-21 22:26] #216 closed

[2020-07-22 03:04] crash-her commented on #216
when i use the legacy API i send it a JSON of

[code]

[2020-07-22 12:00] dmitry-pavlov commented on #110
@jackle991 you need to perform the POST request to "https://identitytoolkit.googleapis.com/v1/accounts:signInWithCustomToken" as I described above but in JS.

[2020-08-14 20:35] hiranya911 commented on #23
I'm going to close this as we don't see any specific action items for this repo. Feel free to comment if something needs to change in the codebase.

[2020-08-14 20:35] #23 closed

[2020-08-17 12:37] tomerpeled commented on #97
This is crucial requirement in order to implement custom notification handling, such as:
custom notification view, decision whether to show notifications to the user, save the notification content into some local db and enjoy fast app loading (with all the data already prepared, instead of fetching it from the server on login), etc.
For example, whatsapp/telegram are using the voip notifications t

[2020-08-19 10:37] Awr0ra commented on #209
how it to do is here: [How do I use FirebaseAdmin with proxy?](https://stackoverflow.com/questions/62881566/how-do-i-use-firebaseadmin-with-proxy)

[2020-08-29 06:06] liongkj commented on #207
Hi @TheSpy , do you mind explaining how to downgrade to older pubsub version? I tried google but i still have no idea

[2020-09-04 15:52] liongkj commented on #207
@hiranya911 Could you please give me some pointers. I am stuck at this for weeks now,

[2020-09-06 00:38] vanpyrzericj opened #246 "Cannot initalize with FIREBASE_CONFIG environmental variable"
Per the documentation [here ](https://firebase.google.com/docs/admin/setup?authuser=0#initialize-without-parameters) in the section _Initialize without parameters_, I expect to be able to call
[code]
and provide the contents of my Firebase service account JSON file in the environmental variable called `FIREBASE_CONFIG`. However, upon running my application, the following exception is thrown:

`Sys

[2020-09-06 01:58] hiranya911 commented on #246
`FIREBASE_CONFIG` is not a way to specify credentials. It is in addition to Google Application Default Credentials.

Meaning you must set `GOOGLE_APPLICATION_CREDENTIALS` to point to the service account JSON file, and use Firebase `FIREBASE_CONFIG` to specify any remaining Firebase options (database URL, storage bucket, project ID etc). Also note that:

1. Google Application Default Credentials is

[2020-09-06 01:58] #246 closed

[2020-09-08 17:25] hiranya911 commented on #207
@liongkj you will have to go through your dependencies, and downgrade anything that depends on Gax 2.0.

[2020-09-08 18:12] #149 closed

[2020-09-09 16:04] hamakiri opened #247 "Sound on ios not working"
At the moment the notification model doesn't include a sound property.
For ios notifications to play sound the json needs to look something like this:

[code]

Is it possible to add the sound property to the notification model?
Also other properties are missing like badge.
Reference from here:
https://firebase.google.com/docs/cloud-messaging/http-server-ref

[2020-09-09 16:35] #247 closed

[2020-09-17 13:26] skogkatt opened #252 "Issue To reach FireBase"
Hi everyone,

I'm implementing the Admin sdk firebase for my ASP.net project (that provides only API for the front apps to call)

i'm calling the Send method to send notification to a specific token.

When i'm doing this from a consoleapplication (existing in project or a new one) its working perfectly.

When i'm exposing the API and calling it from Postman or so, i had this error message :
    "S

[2020-09-17 21:40] hiranya911 commented on #252
The above code has at least one syntax error. `SendMulicastAsync()` accepts a `MulticastMessage` instance. You've passed a `Message`. The above code shouldn't even compile. Also the stacktrace doesn't indicate any Firebase SDK API calls, so I doubt it has anything to do with the FCM API.

I suggest you resolve the compilation issues in the code first. If you continue encounter issues, carefully de

[2020-09-17 21:40] #252 closed

[2020-09-18 13:51] maxhamulyak opened #253 "How to use IHttpClientFactory with Firebase Admin"
Microsoft has a number of Extension packages like https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests

Using the IHttpClientFactory you get the best practices for using HttpClients. This way it is easy to get extra logging, interception pipeline and testing for the underlying HTTP Calls.
Is i

[2020-09-18 18:41] hiranya911 commented on #253
This library is based on Google API client for .NET, which provides its own `HttpClientFactory` API: https://googleapis.dev/dotnet/Google.Apis.Core/latest/api/Google.Apis.Http.HttpClientFactory.html

You can implement your own, and pass an instance via `AppOptions`. We use it for our own unit testing: https://github.com/firebase/firebase-admin-dotnet/blob/ad97c69c21d23dfd1ea4993e1da9681b27a6f04e/F

[2020-09-18 18:41] #253 closed

[2020-09-21 08:52] skogkatt opened #254 "Issue to Reach FireBase API"
Hello all,

As already mentionned, this is the sample code i use to contact firebase with the method to susbscribe a Topic :

            FirebaseApp defaultapp = null;
            FirebaseAdmin.Messaging.FirebaseMessaging messaging = null;

            // Initialize the default app
            string path = AppDomain.CurrentDomain.BaseDirectory + "a2s-production-firebase-adminsdk-.json";

[2020-09-21 13:32] maxhamulyak commented on #253
@hiranya911
As described in the linked issue I found away around this :-)
Still have a couple of questions if you do not mind.
In my scenario I have a service, lets call it PushNotificationService that depends on this library.
This service creates the FirebaseApp and FirebaseMessagingClient; it checks with FirebaseApp.GetInstance() if it is already created.

1. In the linked test cases you use Sin

[2020-09-21 17:53] hiranya911 commented on #253
I would generally recommend a more blackbox approach for testing. Instead of mocking the possible network interactions of the SDK, just put the whole thing behind an interface.

[code]

Now you can have one implementation that uses the SDK, and a test implementation that doesn't make any HTTP calls. This makes your test code less dependent on how the SDK chooses to implement a certain API under th

[2020-09-21 18:06] hiranya911 commented on #254
Most of the time when the issue only occurs on a certain network, it's because the network uses specific Firewall or proxy settings. You will need to check if such requirements exist in your work network, and handle them accordingly.

[2020-09-22 07:51] skogkatt commented on #254
in out network there's a limitation so i asked to open those urls :
**https://oauth2.googleapis.com
https://fcm.googleapis.com**

i configured the proxy on the server for me to access those urls.
Firewall are disabled.

[2020-09-25 20:56] hiranya911 commented on #254
Typically you would configure the SDK to make API calls through the proxy. This is done by extending the `HttpClientFactory`. See #209.

[2020-09-25 20:56] #254 closed

[2020-10-07 15:35] slorinc1 opened #258 "IOs notification missing fields"
Hi,
I am migrating from the legacy API to the V1 version and previously I was using rest call, now I am switching to the .net sdk. However I noticed that in the notification I cannot add the field I need in case of IOs,
The previous payload was
` new
                    {
                        data = payload,
                        notification = new { sound = "default", body = msg, click_actio

[2020-10-07 17:49] hiranya911 commented on #258
Notification in v1 backend API only supports those 3 fields: https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#Notification

Other IOS specific fields must be set via APNSConfig: https://firebase.google.com/docs/reference/fcm/rest/v1/projects.messages#ApnsConfig

Corresponding .NET API: https://firebase.google.com/docs/reference/admin/dotnet/class/firebase-admin/messaging/ap

[2020-10-07 17:49] #258 closed

[2020-10-08 08:49] KalleOlaviNiemitalo opened #259 "FirebaseMessagingClient does not set Initializer.ApplicationName, causing a warning from BaseClientService"
My application uses Firebase Cloud Messaging. When it is started, it logs this warning to a Google.Apis.Logging.ILogger that it registers with Google.ApplicationContext.RegisterLogger:

It seems that the FirebaseMessagingClient constructor calls the FCMClientService constructor with a BaseClientService.Initializer instance whose ApplicationName property is not set: <https://github.com/firebase/fir

[2020-10-09 22:13] hiranya911 commented on #259
Thanks for reporting this. I can try to get this fixed in an upcoming release. Feel free to send a PR too.

[2020-10-14 04:09] trinhnghia opened #260 "Problem with your Google.Apis.Json.NewtonsoftJsonSerializer.Serialize(object obj)"
I have a problem with your Google.Apis.Json.NewtonsoftJsonSerializer.Serialize(object obj). It not get the Newtonsoft.Json.JsonProperty(string name) (Example: [JsonProperty("token")]) . It always return the name of property (Example "Token"). If I change to use Newtonsoft.Json.JsonConvert.SerializeObject(object obj) it return right.
Please fix it! Thanks

[2020-10-14 18:12] hiranya911 commented on #260
Wrong repo. Please report at https://github.com/googleapis/google-api-dotnet-client/tree/master/Src/Support/Google.Apis.Core/Json

[2020-10-14 18:12] #260 closed

[2020-10-15 07:36] MHDuke opened #262 "firestore support plans?"
I am wondering whether firebase firestore support for the .net sdk is coming any time soon. we're planning whether we could stick to .Net or go for javascript/python sdks instead.

[2020-10-16 20:46] hiranya911 commented on #262
You can use the official .NET SDK for Firestore:

https://www.nuget.org/packages/Google.Cloud.Firestore/
https://googleapis.github.io/google-cloud-dotnet/docs/Google.Cloud.Firestore/

We haven't integrated with that library yet, and that's unlikely to change in the near term. But feel free to use the above library directly.

[2020-10-16 21:08] hiranya911 commented on #86
@a-maurice assigning to you for a quick look.

[2020-10-19 20:16] MHDuke opened #264 "conflict between FirebaseAdmin 1.17.1 and Google.Cloud.Firestore 2.2.0"
there is a conflict arises when I include both `FirebaseAdmin 1.17.1` and `Google.Cloud.Firestore 2.2.0` packages.

`FirebaseAdmin 1.17.1` package has a dependency on `Google.Api.Gax 2.7.0`.
`Google.Cloud.Firestore 2.2.0` package has a dependency on `Google.Api.Gax 3.2.0`.

When installing both packages side by side in one .Net project, the `FirebaseAdmin 1.17.1` automatically grabs the higher ver

[2020-10-21 08:00] sumonkumardas opened #265 "IAsyncEnumerable<T> exists in both System.Interactive.Async and System.Runtime"
When I tried to use  IAsyncEnumerable<T> from System.Collection.Generic and FiredaseAdmin(1.17.1) then it shows conflict.

![image](https://user-images.githubusercontent.com/13537430/96690194-2ec31300-13a5-11eb-90b7-6b59293f4423.png)

![image](https://user-images.githubusercontent.com/13537430/96690455-86fa1500-13a5-11eb-81e5-2f18c5cff49a.png)

Target platform -- .net core 3.1
Project Type -- .net

[2020-10-21 14:07] TheSpy commented on #264
I think it's the same issue as https://github.com/firebase/firebase-admin-dotnet/issues/207

[2020-10-21 16:08] MHDuke commented on #264
as per [microsoft documentation](https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#version-ranges), adding square brackets around package version number should solve the issue. for example:
`<PackageReference Include="Google.Api.Gax" Version="[2.7.0]" />`

[2020-10-21 17:49] hiranya911 commented on #264
Our Gax dependency is due for an upgrade (see #251). I think the same PR should address this issue as well.

[2020-10-21 18:04] hiranya911 commented on #264
Also I wish there was a way in .NET to restrict a dependency to specific major version (like NPM does for Node.js). It seems this can be achieved by specifying versions as `[2.0.0, 3.0.0)` (which means any 2.x.x version but not. 3.x.x).

See https://docs.microsoft.com/en-us/nuget/concepts/package-versioning#version-ranges

[2020-10-21 18:11] MHDuke commented on #264
`Google.Api.Gax.Rest 3.2.0` should solve the issue. And yes, this is exactly what you might go for `[2.0.0, 3.0.0)`. inclusive minimum, and exclusive maximum. I learnt some good stuff today. thanks.

[2020-10-26 09:05] star1ite opened #267 "Missing event_time in AndroidNotification"
I want to specify actual event time for notification, but i cannot do it in this library...

REST specification for AndroidNotification:
{
  "title": string,
  "body": string,
   ...
  **"event_time": string,**
   ...
}

event_time | string (Timestamp format)Set the time that the event in the notification occurred. Notifications in the panel are sorted by this time. A point in time is represented

[2020-10-26 18:18] hiranya911 commented on #267
Duplicate of #153

[2020-10-26 18:18] #267 closed

[2020-10-27 18:37] #259 closed

[2020-10-29 22:06] #264 closed

[2020-11-01 15:13] ALMLAMBO opened #269 "Validate user data"
Hi,

I want to know how can I validate entered from user email and password?

[2020-11-03 20:06] lahirumaramba commented on #269
Please use Stackoverflow of Firebase Support for usage questions like this.

[2020-11-03 20:06] #269 closed

[2020-11-05 14:34] Bartizan commented on #207
as far as I can see it is resolved and could be closed. Thanks

[2020-11-05 14:51] TheSpy commented on #207
I confirm that a release https://github.com/firebase/firebase-admin-dotnet/releases/tag/v2.0.0  has this issue resolved.
Thank you!

[2020-11-05 14:51] #207 closed

[2020-11-06 21:36] hiranya911 commented on #265
Resolved with the v2 release.

[2020-11-06 21:36] #265 closed

[2020-11-09 12:27] MKaranusic commented on #139
I ran into the same issue trying to mock BatchResponse in my unit tests.

I found the same issue submitted on [firebase-admin-java repo](https://github.com/firebase/firebase-admin-java/issues/388)
where BatchResponse was turend into an interface.

![image](https://user-images.githubusercontent.com/46089613/98540942-f9686180-228e-11eb-9562-89fa1215fccf.png)

[2020-11-26 09:02] Gekidoku commented on #258
We do need some of these fields. and even though their API documentation doesnt list this FCM does in fact support the android specific field Click_Action in the notification https://stackoverflow.com/questions/39137727/how-to-send-actionable-notifications-to-ios-with-firebase

[2020-11-30 15:38] n0n11n opened #272 "Reduce ambiguity surrounding exception handling."
When trying to implement exception handling for Firebase Cloud Messaging I encountered some ambiguity that could be addressed with better documentation or comments and accessibility changes.

Specifically this code example:
`else if (ex.ErrorCode == ErrorCode.Unavailable)
                {
                    // Platform-level error code
                    Console.WriteLine("FCM service is tempor

[2020-12-01 21:34] hiranya911 commented on #272
I assume you're referring to the examples in https://firebase.google.com/docs/reference/admin/error-handling. This particular example is intended to demonstrate checking for both platform-level and service-level error codes in the same try-catch block. Therefore the way it is written currently is correct. Although I agree that from a practical implementation point of view checking for `MessagingEr

[2020-12-02 09:29] caothuong opened #273 "Scheduling FCM Push Notifications"
How to Schedule FCM Push Notifications

[2020-12-02 14:27] n0n11n commented on #272
Yes I meant that example and I should have added a link to the file. I get now why it is written the way it is. I was only looking at it from my use case point of view at the time.

I meant that this information "SDK retries then it throws" could be made more prominent in either the code example or the documentation of the SDK or both. If you want I can make a PR to show what I mean if this explan

[2020-12-02 21:07] hiranya911 commented on #272
We do have a line about that on the same page. The "Automatic Retries" section starts with the sentence: "_The Admin SDK automatically retries certain errors before exposing those errors to the users._"

I'm open to mentioning this in the code samples too. @egilmorez wdyt?

[2020-12-02 23:32] hiranya911 commented on #273
There's no API for that yet. But this is a fairly regular feature request. I'd advise you to submit your request at https://firebase.google.com/support

[2020-12-02 23:32] #273 closed

[2020-12-03 07:56] n0n11n commented on #272
I must have missed that. That is actually very clear. If you still add that info as a comment to the code, then that is great but as far as I am concerned this issue can then be closed. Thanks for considering my suggestions.

[2020-12-08 18:19] ozgurkaya111 commented on #169
we have same problem , is there any solution ?

[2020-12-09 06:45] bilaljaved786 commented on #75
Exception thrown: 'FirebaseAdmin.Messaging.FirebaseMessagingException' in System.Private.CoreLib.dll

am getting this issue @hiranya911

[2020-12-11 23:28] #272 closed

[2020-12-11 23:41] a-maurice commented on #86
Hi all,

I lead the Firebase for Unity SDKs, https://firebase.google.com/docs/unity/setup.  We do offer some of the Firebase services to work in Desktop via the editor, though not all, and are instead more focused on building for mobile platforms through Unity.  If there are specific features you would like to add for the Firebase for Unity SDKs, you can always issue a ticket here: https://github.

[2020-12-11 23:41] #86 closed

[2020-12-15 00:09] jculverwell opened #274 "Does this work with the emulators"
Just wondering if this works with the firebase emulators?

[2020-12-15 20:30] lahirumaramba commented on #274
Thank you for reaching out! We currently do not have the emulator support in the Admin .NET SDK. I will mark this as a feature request for now.

[2020-12-16 01:41] jculverwell commented on #274
Thanks for the quick response and thank you for adding this as a feature request

[2020-12-16 15:49] naveedahmed1 opened #275 "Feature Request: Batch Subscribe/Unsubscribe to multiple topics"
### Describe your environment

  * Operating System version: Windows 10
  * Firebase SDK version: 2.0.0
  * Firebase Product: FCM
  * .NET version: applies to all version

### Here's a feature request

I believe this is a common use case that an app/website user is normally subscribed to multiple topics.

The current version of sdk provides a method to subscribe to topics `SubscribeToTopicAsync` b

[2020-12-16 20:22] hiranya911 commented on #275
I don't think we have any backend APIs for this functionality today. You should probably file a feature request at https://firebase.google.com/support/troubleshooter/report first.

@chong-shao wdyt?

[2020-12-16 20:51] naveedahmed1 commented on #275
Thank you @hiranya911, I just submitted a feature request for support of this feature in backend API.

[2020-12-17 13:45] samtstern commented on #274
@jculverwell as mentioned in the README [contributing section](https://firebase.flutter.dev/docs/storage/usage#downloading-files) this library is _mostly_ driven by open source contributions from external developers.  So while I definitely think it would be great to have emulator support here, right now we (the emulator team) don't have plans to add it ourselves.

If you're interested in contribut

[2020-12-18 04:25] chong-shao commented on #275
Yes submitting a feature request would be the best option. Thanks!

[2020-12-18 04:25] #275 closed

[2020-12-18 18:41] Krey81 opened #277 "Don't works via proxy"
Then i set custom HttpClientFactory in AppOptions with Proxy this works only for internal connections to https://fcm.googleapis.com. Connections to https://oauth2.googleapis.com ignore my handler and keep going directly without proxy.
The problem can be solved by setting the OS environment variable https_proxy, but it breaks my other functionality.
Please correct the code so that the FirebaseApp s

[2020-12-27 21:15] DamienDoumer opened #278 "Add Device group management"
Firebase permits users to manage devices via Device group messaging.
This can be very useful for developers willing to build a backend that sends notifications to users with multiple mobile devices.
[Here is what we can](https://firebase.google.com/docs/cloud-messaging/android/device-group) do with device group messaging via HTTP calls. Having a C# dotnet implementation will be very useful.

I mad

[2020-12-31 12:33] jonasgoderis opened #279 "FCM SendAllAsync not working with Google Application Default Credentials"
### Environment

  * Operating System version: Mac OS Catalina (10.15.7)
  * Firebase SDK version: 2.0.0
  * Firebase Product: Firebase Cloud Messaging
  * .NET version: .NET Core 3.1
  * OS: Mac

### The problem

We're developing a .NET Core API for a new mobile applicatione. One of the features is sending Push Notifications from the API. To make connection with all our Google Services and Fireba

[2021-01-01 15:53] DamienDoumer commented on #279
The recommended way to send messages to several users are:
- Topic messaging
- Device group messaging.

This library already implements topic messaging, so you can leverage it as I did [here to subscribe users to topics](https://github.com/coolc0ders/FirebaseCloudMessagingWithDotnet/blob/37d8798bf5daf9142e4c682ccee472b3f77dcb62/Firebase.Notifications/Firebase.Notifications/Firebase/FirebasePushNot

[2021-01-04 09:03] jonasgoderis commented on #279
@DamienDoumer thank you for your advice regarding how to send messages to several users, will definitely take a look into that! Much appreciated!

Just wondering then in which case(s) the method `SendMulticastAsync` should be used then?

[2021-01-04 14:18] DamienDoumer commented on #279
SendMulticastAsync is still used to send multiple messages, but topic messaging is the recommended way. I don't have any reference right now, but if I get I'll add it here.

[2021-01-05 19:40] chong-shao commented on #278
Group feature is going to be replaced by the topics feature hence we decided to not support group management in Admin SDK.

More context can be found in https://github.com/firebase/firebase-admin-node/issues/173

[2021-01-05 19:40] #278 closed

[2021-01-05 19:42] chong-shao commented on #279
@DamienDoumer is correct. topic messaging is the recommended way.

[2021-01-05 19:42] #279 closed

[2021-01-05 19:45] hiranya911 commented on #277
`GoogleCredential` API is part of a different library, and you need to configure `HttpClientFactory` for it separately. Unfortunately the code necessary for this is somewhat complex at the moment.

See the examples shown at https://github.com/googleapis/google-api-dotnet-client/issues/1547 and https://medium.com/google-cloud/accessing-google-cloud-apis-though-a-proxy-fe46658b5f2a.

[2021-01-05 19:45] #277 closed

[2021-01-05 19:52] hiranya911 commented on #279
Just catching up to this issue. Here are my thoughts on this:

1. We generally discourage developers from using end user credentials (EUC) to authorize the Admin SDK. There are a number of APIs that don't work with EUC, and it seems the FCM batch API is one of them. We recommend developers to use service accounts with the `GOOGLE_APPLICATION_CREDENTIALS` environment variable to get app default cre

[2021-01-06 02:53] EbramTawfik opened #282 "FirebaseAdmin The SSL connection could not be established"
I have asp.net core API running on docker container that running on Linux machine. I use FirebaseAdmin to push notifications to Firebase. If I run the container on my local windows machine it works fine. But if I deploy it to the linux maching I am getting 'FirebaseAdmin.Messaging.FirebaseMessagingException: Unknown error while making a remote service call: The SSL connection could not be establis

[2021-01-06 20:53] hiranya911 commented on #282
In general we cannot comment on why a certain code would work in one network configuration but not the other. The root cause has almost always to do with how the server is setup. It could be a proxy/firewall issue or something to do with SSL/certificate setup.

[2021-01-06 21:35] DamienDoumer commented on #278
@chong-shao  thanks for the info. Please, how can we keep ourselves aware of when the new Topics feature will be available ?

[2021-01-06 21:41] chong-shao commented on #278
Hi @DamienDoumer, we don't have a specific timeline for that for now. A newly launched feature will be mentioned in FCM API documentation https://firebase.google.com/docs/cloud-messaging/send-message and Admin SDK release notes.

[2021-01-07 08:04] DamienDoumer commented on #278
Ok, noted.

[2021-01-09 00:04] arnoldsmyth commented on #73
@chrisparkeronline did you ever solve this? I am at my wits end trying to figure this out. I downloaded the JSON file as you mentioned by clicking the "Generate new private key" button. I have done this on two different Firebase projects. The first works fine - and the second give me the 404 error.

[2021-01-09 00:13] hiranya911 commented on #73
It's most likely a matter of expired or invalid FCM registration token. Make sure the token is up-to-date (this needs to be handled at the client side), and the token belongs to the same project as the service account.

[2021-01-15 23:32] hiranya911 commented on #282
I'm going to close this. Without any additional information we are unable to provide any specific guidance or debug the issue further.

[2021-01-15 23:32] #282 closed

[2021-01-25 07:54] bingtianyiyan opened #283 "SendAllAsync(IEnumerable<Message> messages, CancellationToken cancellationToken) has error with System.Net.Http.HttpRequestException: The SSL connection could not be established"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Linux
  * Firebase SDK version: 1.170
  * Firebase Product: _____ (auth, database, storage, etc)
  * .NET version: 3.1
  * OS: _____

#### Relevant Code:
coeds: and i use polly to retry once when error ocur

 await FirebaseMessaging.DefaultInstance.SendMulticastAsync(message)

// TODO(you): code here to reproduce the p

[2021-01-25 07:55] bingtianyiyan commented on #283
I think it is caused by too frequent request interface, but there is no clear official limit, we have purchased an unlimited service

[2021-01-25 08:01] bingtianyiyan commented on #283
Now I Task.delay(100) 100 milliseconds before sending the call, and unfortunately I still get the same error,so i take to issue,and i see the source code and no find any solutions

[2021-01-25 17:51] atagaew opened #284 "Field not found: 'Initializer.DefaultHandleUnsuccessfulResponseFunc' issue when calling FirebaseApp.Create"
### [READ] Step 1: Are you in the right place?

  * For issues related to __the code in this repository__ file a Github issue.
  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discussion, use the [firebase-talk](https://groups.google.com/forum/#!forum/firebase-talk)
    google group.
  * For help

[2021-01-25 19:22] hiranya911 commented on #283
[code]

Looks like a network issue or some other low-level SSL handshake problem. Does it happen for all invocations or only some of them?

I came across the following discussion thread which seems to outline a similar problem: https://stackoverflow.com/questions/30664566/authentication-failed-because-remote-party-has-closed-the-transport-stream

[2021-01-25 19:30] hiranya911 commented on #284
Check you Google API client dependencies? The property in question comes from here: https://github.com/googleapis/google-api-dotnet-client/blob/aa4f841973671775f6e4ad9ab7a5052bcade0898/Src/Support/Google.Apis.Core/Http/BackOffHandler.cs#L60-L62

Should be available on all recent versions of the dependency. We currently have a hard dependency on `Google.Apis.Auth` v1.49.0, which should pull in `Goo

[2021-01-26 01:58] bingtianyiyan commented on #283
it happen in sometime ,It's okay to visit less frequently,However, when a large amount of data is sent in batches, the above errors may start to be reported within a certain 10 minutes, and then stop when the data is almost ready to be sent.
Yesterday, there were about 15W pieces of data, 90 pieces for each batch. It was pushed within about 30 minutes after production, and this kind of problem was

[2021-01-26 03:29] bingtianyiyan commented on #283
today:also have blow questions ,and have new questions with sdk-version=2.0.0.0 ,i update nuget to 2.0.0.0,and batch send=500,and error is low then yesterday , batch num=100 . I think requently use api in small time will happen。

System.Threading.Tasks.TaskCanceledException: A task was canceled.
   at Google.Apis.Auth.OAuth2.TokenRefreshManager.GetAccessTokenForRequestAsync(CancellationToken cance

[2021-01-26 07:47] bingtianyiyan commented on #283
i download google.api.core github code source:chage this add code below ->
 handler.ServerCertificateCustomValidationCallback = (sender, cert, chain, sslPolicyErrors) => { return true; };
but is should see result in product environment tomorrow

  /// <summary>
        /// Creates a simple client handler with redirection and compression disabled.
        /// </summary>
        private HttpClientHa

[2021-01-26 19:53] hiranya911 commented on #283
@bingtianyiyan I'm having some difficulty understanding your implementation and the steps you've tried so far. It would be great if you can describe your problem with some code (ideally a complete, minimal example that others can run to reproduce the error).

[code]

That looks like something explicitly cancelled the send operation. My guess is Polly cancelled a pending operation, and retried (I'm

[2021-01-26 22:36] atagaew commented on #284
Thank you.
I've check the dependencies and they are looking ok, see attached file

[EventNotifier.csproj.txt](https://github.com/firebase/firebase-admin-dotnet/files/5876546/EventNotifier.csproj.txt)

This implementation is working perfectly on another server. Even if I just copy project dlls to another server it working well. What else can be the issue ?

Thank you!

[2021-01-26 23:48] hiranya911 commented on #284
Difficult to tell other than it's some strange dependency binding issue at runtime. Perhaps you should try compiling some source similar to the following and see what sort of error messages you get back. Hopefully that will shed more light on the problem. Basically, force the error to occur at compile time instead of runtime.

[code]

[2021-01-27 01:24] bingtianyiyan commented on #283
i use below code to send and use polly to retry if fail。problem：System.Threading.Tasks.TaskCanceledException: A task was canceled you point is version2.0.0 sdk inner  have refresh token before send msg to check token is expired and get refresh token,but sometimes fail and cancel task。 i  guess like something timeout
sdk:FirebaseAdmin 2.0.0
code below：
 /// <summary>
        ///
        /// </summa

[2021-01-27 06:33] bingtianyiyan commented on #283
today product works better then yesterday,and only hve single one error occur ->  System.IO.IOException: Authentication failed because the remote party has closed the transport stream.

so i will add additional code below like this.and wait tomorrow the result of running batch data。I have no better choice to retry error to occur like product.
  /// <summary>
        /// Creates a simple client han

[2021-01-27 11:28] atagaew commented on #284
The issue resolved. The reason was "DLL Hell" issue of identifying right version of System.Net.Http.dll used by Google.Apis.Auth package.

The solution described here -https://stackoverflow.com/questions/65698676/asp-net-firebaseadmin-fails-to-initilize-system-missingfieldexception/65918156#65918156

[2021-01-27 19:33] #284 closed

[2021-01-27 20:12] hiranya911 commented on #284
Might worth reporting an issue against the Google API client, and see if they can do something about that. Perhaps, they should define a specific version for the `System.Net.Http` dependency: https://github.com/googleapis/google-api-dotnet-client/blob/aa4f841973671775f6e4ad9ab7a5052bcade0898/Src/Support/Google.Apis.Core/Google.Apis.Core.csproj#L42-L44

[2021-01-27 20:26] hiranya911 commented on #283
I don't fully understand what you're are trying to tell. But I will try my best to explain a few things that might be helpful.

1. Refreshing and fetching tokens is done by the `Google.Apis.Auth` package. As far as I know, the behavior of this package has not changed in a long time.
2. The refresh tokens task runs as part of the same async task as your send operation. It is not a separate backgrou

[2021-01-28 01:17] bingtianyiyan commented on #283
Thanks for your advice

[2021-02-03 09:05] JesperNJessen commented on #153
Is there some way of adding the "title_loc_key" to the base Notification object? It seems to be needed for iOS localization of messages as described here:

https://github.com/CrossGeeks/FirebasePushNotificationPlugin/blob/master/docs/LocalizedFirebasePushNotifications.md

Snippet:

[code]

It doesn't seem to work when using the AndroidConfig class.

[2021-02-05 22:17] hiranya911 commented on #283
I'm going to close this since I don't see a reason to believe this is the direct result of a bug in the codebase. Feel free to contact Firebase Support if the problem continues to occur.

[2021-02-05 22:17] #283 closed

[2021-02-07 17:20] thisisandreww commented on #120
Same issue here, any solution to this? I did see `click_action` with my attached url through the console log but clicking on the notification only dismisses it.

[2021-03-01 00:52] felippi commented on #97
Any update about that???

[2021-03-03 05:52] gsino opened #287 "Replace HttpClientFactory as interface"
Hello.

In the GoogleApi repository, an implementation of `Google.Apis.Http.IHttpClientFactory` using `Microsoft.Extensions.Http.IHttpMessageHandlerFactory` is presented.

https://github.com/googleapis/google-api-dotnet-client/issues/1756

https://github.com/googleapis/google-api-dotnet-client/blob/bfc9090dc2fae5b06a654328c4da7bc6b05b66f1/Src/Support/IntegrationTests/HttpClientFromMessageHandlerFa

[2021-03-03 19:53] hiranya911 commented on #287
@gsino can you add some example use cases or code samples to this issue to elaborate how this can be used with Firebase? Wouldn't you be able to achieve the same result with something like https://github.com/firebase/firebase-admin-dotnet/blob/master/FirebaseAdmin/FirebaseAdmin.Tests/MockHttpClientFactory.cs?

[2021-03-03 23:37] chrwei opened #288 "FirebaseMessaging to iOS stopped working, status=Faulted"
.net 4.6.1, FirebaseAdmin v2.0.0 from nuget

I had this all working about a month ago.  At some point it stopped sending iOS notifications, but Android still works.

[code]

`t` just has an id and status="Faulted".

I've tried removing the `AndroidConfig` for ios devices, and I've tried adding an `ApsAlert` to the `Aps`, but the result is always the same.  I've even tried recreated the service acc

[2021-03-03 23:52] hiranya911 commented on #288
I'd say start by looking at `t.Exception`. If the task faulted, you should be able to get hold of the underling exception this way.

If it looks like a problem with the FCM service, please reach out to Firebase Support and provide details of your project: https://firebase.google.com/support

[2021-03-03 23:52] #288 closed

[2021-03-04 14:34] chrwei commented on #288
it certainly could be more clear in the docs than an exception doesn't throw.

looks like all the iOS tokens are coming back unregistered.

[2021-03-04 19:54] hiranya911 commented on #288
Task continuations in C# don't throw. So you must check `task.Status` and `task.Exception`. You should use `await` for conventional exception throw.

[code]

[2021-03-05 05:16] gsino commented on #287
Half Yes.
In fact, I can get any `HttpMessageHandler` by injecting `System.Net.Http.IHttpMessageHandlerFactory`.

[code]

However, compared to [`Google.Apis.Http.HttpClientFactory`](https://github.com/googleapis/google-api-dotnet-client/blob/99505fbdcd33d898242fa1bb573162589710ae9e/Src/Support/Google.Apis.Core/Http/HttpClientFactory.cs#L51-L86), it lacks the following two features:
1. Support for

[2021-03-05 22:25] hiranya911 commented on #287
Fair enough. We can look into making this change in a future release (shouldn't be a breaking change as far as I can tell).

[2021-03-08 03:56] gsino commented on #287
Thank you! :)

[2021-03-16 11:56] floppydisken commented on #274
I'd love for this to happen as well. And I'm willing to help. However I'm quite unaware of the scope.

[2021-03-16 11:59] floppydisken commented on #196
I ended up wrapping the functionality I wanted in an IFirebaseService interface with the features I needed from firebase.
[code]

[2021-03-16 19:17] floppydisken commented on #274
I've started a pull request for this purpose https://github.com/firebase/firebase-admin-dotnet/pull/289. Starting with Authententication emulation support

[2021-03-25 20:19] hiranya911 commented on #274
I've merged #289 into a new `auth-emulator` branch. Remaining features to be implemented include:

* `CreateCustomTokenAsync()`
* `VerifyIdTokenAsync()`

[2021-04-02 07:57] delmatrios commented on #73
facing the same problem still my token is up to date and no change

[2021-04-05 14:36] floppydisken opened #292 "Unable to authenticate using firebase-cli approach instead of service-account.json credentials"
### Environment description

  * Operating System version:  20.04
  * Firebase SDK version: 2.0.0
  * Firebase Product: auth
  * .NET version: .NET Core 3.1
  * OS: Ubuntu

### Steps to reproduce:

I'm trying to authenticate the FirebaseAdmin calls using the `firebase-tools` access token. To do this I'm loading the configstore firebase-tools.json file and reading the access token. Then using the p

[2021-04-05 17:46] hiranya911 commented on #292
**Note: In the future please use StackOverflow for API usage and debugging questions.**

There are couple of issues in the above code. First, the following deserialization logic doesn't seem to work:

[code]

I had to read the acccess_token from `deserializedFirebaseConfig` instead.

Secondly, the project ID is required configuration for accessing Auth APIs. So you must pass it explicitly via `App

[2021-04-05 17:46] #292 closed

[2021-04-05 18:06] floppydisken commented on #292
Thank you for clarifying. I actually thought there was an issue with the library, since it seemed strange to me that I could access my projects through the firebase-tools with what seemed like the access token provided by the config, hence why I posted the issue  here. I'll throw it the way of stackoverflow before anything next time. The logout and login works like a charm.

[2021-04-05 19:35] floppydisken commented on #274
I wouldn't mind taking care of this. Can you point me in the direction of some reference material or be more specific as to what is missing exactly?

[2021-04-05 20:03] hiranya911 commented on #274
Thanks @floppydisken. I've already done most of the work to support that. Just waiting for #291 to get through first.

[2021-04-13 14:14] anoam opened #296 "SenderId mismatch"
Hey there!
I'm trying to start using Firebase for push notifications.
I've downloaded the key file and trying to run this code.
[code]

But I get the following exception:
[code]
Would you kindly help me to get rid of this?

[2021-04-13 17:03] hiranya911 commented on #296
It generally means the token and the credential come from 2 different projects. See https://firebase.google.com/docs/reference/admin/dotnet/namespace/firebase-admin/messaging#messagingerrorcode

Please use StackOverflow for usage questions and debugging help.

[2021-04-13 17:03] #296 closed

[2021-04-15 07:32] evelyn-f-king commented on #120
Also observing this, albeit not with the dotnet API. Anyoine able to figure out what the fix is here?

[2021-04-16 20:45] hiranya911 commented on #274
Auth emulator support included in the last release.

[2021-04-16 20:45] #274 closed

[2021-05-26 21:52] nmehlei commented on #196
@Dongata Thank you for the helpful solution!
One note for future readers: It looks like the `FirebaseTokenArgs` class was renamed to just `Args`, as can be seen here: https://github.com/firebase/firebase-admin-dotnet/blob/master/FirebaseAdmin/FirebaseAdmin/Auth/FirebaseToken.cs#L83

[2021-05-26 22:25] Dongata commented on #196
@nmehlei You welcome man, I had to update the test again (we updated everything to net 5) here's the code updated, hope it helps.

[code]

[2021-06-30 19:13] MahmudX opened #301 "Realtime database support"
As I can see in this [page](https://firebase.google.com/docs/admin/setup) there is no support for the real-time database, as long as other features. I'm using a third-party [repo](https://github.com/ziyasal/FireSharp) to use the real-time database but are there any plans to release an official library for the upcoming MAUI or the existing .NET projects?

[2021-07-14 23:14] artem-avanesov commented on #120
Same issue

[2021-07-16 20:35] hiranya911 commented on #301
No plans as of yet to add RTDB APIs to this library. Although we can potentially accept code contributions to implement those APIs.

[2021-07-19 11:04] satyenderkumar071 commented on #45
what are the possible errors need to be handled to make it fault tolerant?

[2021-08-02 15:36] tinonetic opened #303 "Do I have to commit service account file my file for CI/CD? Why do you advise using a file path? Or am I confused?"
Hi there,

I am a newbie to the Firebase Admin SDK.

I have gone through the [docs on how to configure it for use](https://firebase.google.com/docs/admin/setup#initialize-sdk). We have a CI/CD setup (using Git, Rancher & K8s... also our early attempt).

We know that you are not supposed to commit credentials.

But the documentation says:

I am trying to test setting of the environment in my develo

[2021-08-02 17:05] hiranya911 commented on #303
Service account files should never be checked into version control.

Your dev environment should make it available to your application via some scripting or automation (or just set it up manually for local testing). In production environments like Cloud Functions, Compute Engine and App Engine, you don't have to do anything extra as the environment will automatically provide app default credential

[2021-08-02 17:05] #303 closed

[2021-08-05 03:34] 20092738 opened #304 "Limit registration tokens of sending multicast message"
Document of MulticastMessage shows that we can send multicast message up to [500 registration tokens](https://firebase.google.com/docs/reference/admin/dotnet/class/firebase-admin/messaging/multicast-message)
However in my program show error following log when tried to send over 100 registration token
`Tokens must be non-null and contain at most 100 tokens.`
(My FirebaseAdmin v1.9.1)

So, which is

[2021-08-05 16:43] hiranya911 commented on #304
Limit was increased to 500 in v2.0.0 release.

[2021-08-05 16:43] #304 closed

[2021-08-09 09:13] 20092738 commented on #304
@hiranya911  thank you so much!
I've solved this problem by upgrading library to v2

[2021-08-17 23:16] stesvis opened #306 "ClickAction not working"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Android 10 and iOS 14.4
  * Firebase SDK version: 2.2.0
  * Firebase Product: FirebaseAdmin with FCM
  * .NET version: 4.7
  * OS: Windows 10

### [REQUIRED] Step 3: Describe the problem
I am trying to send a push notification to iOS and Android using FCM and I need to pass a parameter `click_action` as described here

[2021-08-17 23:37] hiranya911 commented on #306
Can you share the actual C# code you tried? Above is some JSON, and not executable code.

[2021-08-18 22:58] stesvis commented on #306
I finally figured it out.
It turns out that I have to send two notifications, one to only android devices, where I only set the `data` field, and one to only iOS devices, where I only set the `notification` and `apns` fields.

This way it works and I can see the action button in the notification try in both platforms.

[2021-08-20 21:25] hiranya911 commented on #306
I still cannot determine how to triage this issue. No actual code or test case has been shared. I'm going to close this as incomplete. Please file a new issue with more details, if there's anything else that needs to be addressed in this repo.

[2021-08-20 21:25] #306 closed

[2021-08-23 08:19] tinonetic opened #307 "Which URLs & ports should be open for the package to work?"
Hi,

What URLs does the SDK require to work.

Our backend is sitting behind a web application firewall and a proxy server. So we need to know what to configure on it.

Sorry if it's in the documentation, but I do not see any reference in it. Please do add it if it isn't there already.

I have managed to pick the following. I hope I am write. Please confirm or correct me.

https://oauth2.googleapis

[2021-08-23 17:13] hiranya911 commented on #307
If you're only using the FCM send API, then above 2 endpoints are enough. Other services/APIs call additional endpoints. Good call on documenting this somewhere. @egilmorez thoughts?

[2021-08-24 07:53] tinonetic commented on #307
We configured firewall rules to allow everything going to *.googleapis.com:443

Works well, and would cover future integrations

[2021-08-24 21:19] msngithub opened #308 "does not show image in notifications in firefox developer"
i use following code to send notification , but image does not show in firefox developer , The image is displayed well in Chrome
what should i do ?

            var path = _env.ContentRootPath + "/private_key_firebase.json";
            FirebaseApp app = null;
            try
            {
                app = FirebaseApp.GetInstance("webbitTask");
                if (app == null)

[2021-08-29 20:54] #307 closed

[2021-09-27 11:54] coderaven opened #309 "FCMOptions Link on Push Notification Click (Windows Notification) does nothing"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Windows 10
  * Firebase SDK version: 2.2.0
  * Firebase Product: Messaging
  * .NET version: 5.0.0
  * OS: Windows

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

- I send a Notification in the service/controller using FIrebase Admin Messaging
- I received the Web Push on the target device, howe

[2021-10-02 04:34] Deepankar1993 opened #310 "C# FCM not getting delivered"
Hello,
I am trying to send Push Notification using c# console app but its not delivering to the device
However, the app is receiving the Notification sent from the Firebase consoles

Here is my Console App
code

[code]

[2021-10-04 17:14] hiranya911 commented on #310
Please report notification delivery issues directly at https://firebase.google.com/support. You can indicate your project ID and the message ID returned by the SDK when reporting the issue, and the FCM team can help you figure out what the problem is.

[2021-10-04 17:14] #310 closed

[2021-10-12 21:41] zwu52 commented on #309
@coderaven ,
Hi, we no longer making releases to the <= v8 client SDK. Please consider [migrating to v9](https://firebase.google.com/docs/web/modular-upgrade) which might resolve the issue. Please let us know if this help.

[2021-10-12 23:52] hiranya911 commented on #309
@zwu52 this issue is about the Admin .NET SDK, which uses the FCM v1 API.

[2021-10-13 23:01] zwu52 commented on #309
I am getting links in the payload thats originated from v1 send API. I am suspecting it might be a client issue even though I am not aware of any recent changes that might have caused the issue.

[2021-11-10 09:47] WillooWisp commented on #153
Did you make any progress on a PR for this?

[2021-11-10 09:48] WillooWisp commented on #153
@hiranya911 seems like even after a year, nothing has happened to making the payload feature complete with v1, why? Is this package deprecated?

[2021-11-10 11:55] levimatheri commented on #153
@WillooWisp I had submitted a PR [here](https://github.com/firebase/firebase-admin-dotnet/pull/203) a while back.

[2021-11-11 14:41] WillooWisp commented on #153
@hiranya911 and @lahirumaramba why is the PR above not being merge, when you requested it over a year ago?

[2021-11-11 19:12] lahirumaramba commented on #153
@WillooWisp Thank you for pointing this out! Apologies for the delay, we have started the review process. Stay tuned for an update on the release.

[2021-11-11 21:41] JeremyCaron commented on #139
In my case, this would mean the interface would have to contain methods returning FirebaseToken, which means my interface is implicitly bound to a Firebase implementation, which sort of defeats the whole point of using an interface in the first place.

[2021-11-11 23:45] Dongata commented on #139
If someone has this same issue, here's a work around
https://github.com/firebase/firebase-admin-dotnet/issues/196#issuecomment-849161404

[2021-11-23 04:58] mikequ-taggysoft commented on #287
@hiranya911  Any updates on this? We'd really like to use .NET's `IHttpClientFactory` to manage the underlying http connections for efficiency. Since this is already supported in other Google APIs, and the pattern is now the universal best-practice for all modern .NET applications,  it would be great for the Firebase SDK to support it as well. Thanks!

[2022-01-18 13:12] tomerpetel commented on #97
Any update? any plans in supporting PushKit in Firebase?

[2022-01-20 16:34] code4muktesh opened #313 "ClickAction is not working with Android"
If trying to send push notification using this sdk then notification is being received on device but clicking on notification is not working.
But, If directly sending the request to old APIs(https://fcm.googleapis.com/fcm/send) using postman
then it is working as expected.

[2022-01-20 16:36] code4muktesh opened #314 "Need Documentaion: How can print the access token"
Is there anyway to extract access token sothat can directly hit the api using post man

[2022-01-20 21:15] lahirumaramba commented on #313
Hi @code4muktesh could you provide us with a minimal repro on this? It is difficult to investigate without seeing how you used the API. Thank you.

[2022-01-20 21:21] chong-shao commented on #313
Hello, @code4muktesh feel free to assign the issue back to me after the sample code to reproduce this issue is posted.

[2022-01-22 05:18] code4muktesh commented on #313
@chong-shao
sample code :
[code]

[2022-01-26 06:56] natthavat28 opened #315 "Can I send custom icon for push notification ?"
I try to find how to send custom app icon to my notification (example image below).

![image](https://user-images.githubusercontent.com/3838334/151117031-891e8f5b-fa4f-4594-bef8-a9a587bb0202.png)

[2022-01-26 07:35] #315 closed

[2022-02-14 03:19] newbie1992 opened #316 "APS notification"
If trying to send a notification with an image, it does not show the image on the notification on iOS. I am using the code below.
[code]

I saw [firebase rich push notification payload for ios](https://stackoverflow.com/questions/42531730/fcm-rich-push-notification-payload-for-ios) which is needed to rename the mutable-content to mutable_content and content-available to content_available. Is there

[2022-02-14 12:24] ASH247iT commented on #45
Hi - any suggestions what to do when it only says
"message": "Internal error encountered."
"errorCode": "INTERNAL"

Is that a problem within Firebase or a config problem
It has been working OK upto now

[2022-02-14 16:09] #316 closed

[2022-03-28 21:20] euantorano opened #322 "AndroidNotification::VibrateTimingsMillis not operating as documented"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Windows 10 Enterprise
  * Firebase SDK version: 2.3.0
  * Firebase Product: Firebase Cloud Messaging
  * .NET version: 6.0
  * OS: Windows 0 Enterprise

### [REQUIRED] Step 3: Describe the problem

The [`AndroidNotification::VibrateTimingMillis`](https://github.com/firebase/firebase-admin-dotnet/blob/2f7c9a90c66dd32737

[2022-03-30 19:24] lahirumaramba commented on #322
Hi @euantorano thank you for reporting this issue. You are right, it appears that the SDK is mapping the millisecond durations to seconds strings correctly. Are you by any chance able to test on a different device?
Also, (a speculation from my side), sometimes if `DefaultSound` is set to `true` and if the device is on vibrate it vibrates instead of playing a sound in addition to vibrating based on

[2022-03-30 19:43] euantorano commented on #322
I’ve got a couple of devices to test with on varying API levels, I’ll give them a go tomorrow morning or early next week.

We have DefaultSound disabled by the way, as we don’t want any sound with the notification (we only want it to vibrate).

[2022-03-30 19:52] lahirumaramba commented on #314
The Admin SDK uses https://github.com/googleapis/google-api-dotnet-client
I believe you should be able to access the token from the `Credential` instance.
For example:
[code]

In the future, please use StackOverflow for usage questions. Thanks!

[2022-03-30 19:52] #314 closed

[2022-04-22 12:08] iojOMlyzI06b8nWnWfxI1BW opened #323 "Payload of Apple Push Notification Service must contain an [aps] key"
I'm using Firebase Admin SDK
I'm trying to send a message that contain Apns headers and recieve this message: Payload of Apple Push Notification Service must contain an [aps] key
I opened Firebase console → Project settings → Service accounts. But I cannot find a way to add my aps key
Please help

[2022-04-26 14:31] utkarsh-bandekar opened #324 "VerifySessionCookieAsync() missing in TenantAwareFirebaseAuth"
I have seen a pull request which has the changes but those are not publicly available
https://github.com/firebase/firebase-admin-dotnet/pull/232

[2022-04-28 15:25] lahirumaramba commented on #324
Hi @utkarsh-bandekar `VerifySessionCookieAsync` API is available since the [1.12.0](https://firebase.google.com/support/release-notes/admin/dotnet#version_1120_-_06_may_2020) release. Tested the following with the latest Admin .NET SDK version 2.3.0.

[code]

[2022-04-28 15:59] charlesdesouza1 commented on #324
@lahirumaramba
The question is when tenant scoped, I think its not available when using a tenant.

[2022-05-05 04:02] #323 closed

[2022-05-12 17:24] mickjol opened #326 "Execute "onMessageReceived" on background"
### [READ] Step 1: Are you in the right place?

  * I like to send a "data message" throw this nuget (no notification), so the "onMessageReceived" method was call on android in even in background.
  * Actually, I use HTTP legacy URI : https://fcm.googleapis.com/fcm/send and I'm able to send "data message" and "notification message"
  * I try to use "HTTP v1" instead, but I can't send "data message

[2022-05-30 17:32] iamkinetic commented on #326
@chong-shao Is there any follow up about this problem?

[2022-05-30 17:36] philipperobertgh commented on #326
Same problem for me. Is there any solution available ?

[2022-05-31 20:12] Josbleuet commented on #326
It seams that I have the same issue, any news ?

[2022-06-14 13:55] Kurounin opened #328 "Support for Remote Config"
Are there plans to include support for Remote Config?

[2022-08-01 23:38] StephenHodgson commented on #301
Even a simple rest API implementation would be nice, but of course gPRC is better.
Seems kinda sus that there's not much support for .net

[2022-08-03 10:40] InspectlyMads opened #330 "Invalid value at 'message.android.notification.event_time'. When im trying to send an AndroidNotification but keep getting this exception"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Windows 11
  * Firebase SDK version: 2.3.0
  * Firebase Product: Messaging
  * .NET version: 6
  * OS: Windows

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?
This could be a description, log/console output, etc.

I am trying to send notification

[2022-08-15 18:50] AlexanderVorobyov opened #331 "CreateSessionCookieAsync use wrong url to make request to the API"
### [REQUIRED] Step 2: Describe your environment

  * Operating System version: Windows 11
  * Firebase SDK version: 2.3.0
  * Firebase Product: Auth
  * .NET version: .NET Core 3.1
  * OS: Windows

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

`CreateSessionCookieAsync` always results with _Not Found_ status code. (Tested with Emulator)

`PostAndDeserializeAsync` method b

[2022-08-16 18:38] AlexanderVorobyov commented on #331
Also, I found that `CreateSessionCookieVerifier()` has missing setup for `IsEmulatorMode` argument and that causing the error when validate session cookie from emulator.

https://github.com/firebase/firebase-admin-dotnet/blob/0870aa628e2b6b7632001e1d5c9a2e782cda3598/FirebaseAdmin/FirebaseAdmin/Auth/Jwt/FirebaseTokenVerifier.cs#L142

[2022-08-25 10:53] dmitry-bym opened #332 "App Check support"
Is it posible to add App check support? I urgently needed AppCheck and had to write everything myself. So i can just create pr and implement that step by step. My company needs this, but since I do it anyway, it would be nice to do it for everyone

[2022-09-01 00:27] lahirumaramba commented on #332
Hey @dmitry-bym we do not have any immediate plans to add App Check support to the .NET SDK. However, we would be glad to review any PRs if you would like to contribute to the codebase. You can also find the required steps to verify an App Check token on this [blog post](@dependabot squash and merge) (see under "Verifying App Check tokens in other backend resources"). Thank you!

[2022-10-23 16:04] bjarkt opened #334 "AbstractFirebaseAuth.cs has a typo (accound/account)"
Documentation comment for the methods CreateCustomTokenAsync has a typo:

This should probably be

[2022-11-10 18:21] asaalberglodasoft opened #336 "non-android TimeToLive (for message lifetime)?"
The 'TimeToLive' property is within the AndroidConfig sub-object of message

https://firebase.google.com/docs/reference/admin/dotnet/class/firebase-admin/messaging/android-config#class_firebase_admin_1_1_messaging_1_1_android_config

Is that the same as the 'time_to_live' flag described here?

https://firebase.google.com/docs/cloud-messaging/concept-options#lifetime

If not, how do I set that 'tim

[2022-11-15 22:38] chong-shao commented on #336
Hi @asaalberglodasoft , yes, the "time_to_live" described in the two pages are the same concept.

[2022-11-15 22:38] #336 closed

[2022-11-28 03:39] gautambjain commented on #326
I am having the same issue. The data message doesn't reach onMessageReceived if the android app is in the background. Many have suggested a solution here: https://stackoverflow.com/questions/48451761/firebase-message-with-high-priority-not-waking-device-from-doze-android-6

The solution is to add priority at both Message level and at AndroidOptions level.

[code]

Can we have a workaround or a fix